<% provide :c_active, "asset" %>
<% provide :pre_title, "配件详情" %>


<div class="container" style="margin-top: 0; padding-top: 70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="<%= parts_path %>">配件管理</a></li>
        <li class="active">配件详情</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
            <div  class="alert alert-<%= name %>"><%= msg %></div>
        <% end %>
        <div id="error-infoassign" class="alert alert-danger" style="display: none;"></div>
    </div>
  </div>

    <div class="row">
    <!--     <div class="col-md-10 col-lg-10 col-center-block content-wrap">
            <div id="content"> -->

                <!-- 头像与密码设置 -->
                <div class="col-sm-3 col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title">所属设备使用员工</h3></div>
                        <div class="panel-body">
                            <% if !@user.nil? %>
                              <h3 style="margin-top: 0px"><%= @user.username %></h3>
                              <h5>部门:<%= department_name @user.department_id %>&nbsp;&nbsp;&nbsp;&nbsp;邮箱:<%= @user.email %>&nbsp;&nbsp;&nbsp;&nbsp;使用方式:<%= device_status @device.status %></h5>
                            <% else %>
                              <h3>未分配</h3>
                            <% end %>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title">所属设备</h3></div>
                        <% if  !@device.nil? %>
                            <div class="panel-body">
                                <div class="form-group">
                                    <h3 style="margin-top: 0px"><%= link_to @device.asset_code, device_path(@device) %></h3>
                                    <h5>设备种类:<%= device_type @device.decategory_id %>&nbsp;&nbsp;&nbsp;&nbsp;设备名:<%= @device.asset_name %>&nbsp;&nbsp;&nbsp;&nbsp;设备位置:<%= @device.location ? @device.location : "未知" %></h5>
                                </div>
                            </div>
                        <% else %>
                            <div class="panel-body">
                                <h3 style="margin-top: 0px">不从属其他设备</h3>
                            </div>
                        <% end %>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title">添加到设备</h3></div>
                        <div class="panel-body">
                            <%= form_tag  attachdevice_part_path(@part), remote: true do %>
                              <div class="form-group">
                                <label for="decategory_id"> 设备分类:</label>
                                <select class="form-control" name=device[decategory_id]  onchange="get_device(this)" id="decategory_id">
                                  <option value="">请选择一个分类</option>
                                  <% @decategorys.each do |decategory| %>
                                    <% if  @decategory_id.to_i == decategory.id %>
                                            <% selected = 'selected="selected"' %>
                                          <% end %>
                                      <option value="<%= decategory.id %>" <%= selected %> ><%= decategory.name %></option>
                                  <% end %>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="device_id"> 设备:</label>
                                <select id="device_id" class="form-control" name="device[device_id]">
                                  <option value="">请选择设备</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <%= submit_tag "添加", class: "btn btn-primary submit" %>
                              </div>
                            <% end %>
                        </div>
                    </div>

                </div>
<script>
    function get_device(ele) {
        $.ajax({
            type : "GET",
            url : "<%= ajaxgetalldevice_path %>",
            data : {
                'decategoryid':$(ele).val()
            },
            dataType : "JSON",
            success : function(result){
                if(!result.status){
                    var str = '<option value ="">请选择设备</option>';
                    $.each(result,function (i,value) {
                      str += '<option value ="'+value.id+'">'+value.asset_code+'</option>';
                    });
                    $('#device_id').html(str);
                    $('#device_id').searchableSelect();
                }else{
                    if(result.msg){
                        alert(result.msg);
                    }
                }
            }
        });
    }
</script>


                <!-- 配件信息设置 -->
                <div class="col-sm-9 col-md-9">
                    <div class="panel panel-info">

                        <div class="panel-heading"><h3 class="panel-title"><%= "配件: #{@part.part_code} 状态: #{part_status @part.status}" %></h3></div>
                        <div class="panel-body">
                            <%= form_for @part, url: showupdate_part_path(@part), method: :post,  remote: true do |f| %>
                            <div class="form-group">
                                <label>配件名:</label><br>
                                <%= f.text_field :part_name, class: "form-control form-input-normal" %>
                            </div>
                            <div class="form-group">
          					          	<label for="partcategory_id">配件类型:</label>
          					          	<select class="form-control" name=part[partcategory_id] id="partcategory_id">
          					            	<% @partcategorys.each do |partcategory| %>
                                      <% if  @part.partcategory_id == partcategory.id %>
                                          <% selected = 'selected="selected"' %>
                                      <% end %>
          					              		<option value="<%= partcategory.id %>" <%= selected %> ><%= partcategory.name %></option>
          					            	<% end %>
          					          	</select>
          					        </div>
                            <div class="form-group">
              								<label for="time" class="control-label">收货日期:&nbsp;</label>
              						        <div class="input-group controls input-append date form_datetime" data-date="2017-12-7T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
              						          <input type="text" class="form-control" size="16" readonly name="part[receive_date]" value="<%= @part.receive_date.try(:strftime, "%Y-%m-%d") %>">
              						          <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
              						          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              						        </div>
              						        <script type="text/javascript">
              						          $('.form_datetime').datetimepicker({
              						              format: 'yyyy-mm-dd',
                                        minView: "month",
              						              language: 'zh-CN',
              						              weekStart: 1,
              						              todayBtn:  1,
              						              autoclose: 1,
              						              todayHighlight: 1,
              						              startView: 2,
              						              forceParse: 0,
              						              showMeridian: 1
              						          });
              						        </script>
              					    </div>
                            <div class="form-group">
              								<label>配件详情:</label><br>
              								<%= f.text_field :part_details, placeholder: "设备详情", class: "form-control" %>
              							</div>
                            <div class="form-group">
                                <%= f.submit "更新属性", class: "btn btn-primary submit" %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12" style="padding-top: 30px;">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title">配件分配记录</h3></div>
                        <div class="panel-body">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr><th>设备</th><th>备注</th><th>分配时间</th></tr>
                                  </thead>
                                  <tbody>
                                      <% @partrecords.each do |partrecord| %>
                                          <tr>
                                            <td><%= partrecord.device_id %></td>
                                            <td><%= partrecord.note %></td>
                                            <td><%= partrecord.created_at.try(:strftime, "%Y-%m-%d") %></td>
                                          </tr>
                                      <% end %>
                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
 <!--            </div>
        </div> -->
    </div>
</div>
<!-- 设备分类的一个，配件分类的一个 -->
<script>
  $(function(){
    $('#partcategory_id').searchableSelect();
    $('#decategory_id').searchableSelect();
  });
</script>
