<%= javascript_include_tag 'select/jquery.searchableSelect', 'data-turbolinks-track': 'reload' %>
<% provide :c_active, "asset" %>
<% provide :pre_title, "导入设备" %>
<div class="container" style="padding-top:70px;">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href="/">主页</a></li>
				<li><a href="<%= devices_path %>">设备</a></li>
				<li class="active">导入设备</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 center-block" style="float: none;">
			<div id="error-infoassign" class="alert alert-danger" style="display: none;"></div>
			<div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">分配设备</h3></div>
                <div class="panel-body">
                    <%= form_tag  devices_importassign_path, remote: true, class: "form-inline" do %>
                     <div class="form-group">
                        <label for="assigntype"> 分配类型:</label><br/>
                        <select class="form-control" name="assigntype" id="assigntype" onchange="create_borrowtime(this)">
                            <option value="">请选择设备分配类型</option>
                                <option value="2" selected="selected">办公使用</option>
                                <option value="5">借用</option>
                            	<option value="7">报废借用</option>
                        </select>
                      </div>

                      <div class="form-group" id="borrowtime_div" >
                          <label for="borrowtime"> 借用时间:</label><br/>
                          <input type="number" name="borrowtime"  class="form-control" id="borrowtime" placeholder="请输入借用时间,单位:天数">
                      </div>


                      <div class="form-group">
                        <label for="user_id"> 员工:</label>
                        <select class="form-control" name="user_id" id="user_id">
                          <option value="">请选择员工</option>
                          <% @users.each do |user| %>
                            <option value="<%= user.id %>"><%= user.username %></option>
                          <% end %>
                        </select>
                      </div>


                      <div class="form-group">
                        <label for="device_id"> 设备:</label>
                        <select class="form-control" name="device_id" id="device_id">
                          <option value="">请选择设备</option>
                          <% @devices.each do |device| %>
                            <option value="<%= device.id %>"><%= device.asset_code %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="form-group">
                      <label for="user_department"> 提交:</label><br/>
                        <%= submit_tag "分配", class: "btn btn-primary submit  btn-block" %>
                      </div>
                    <% end %>
                </div>
            </div>
			<div class="panel panel-primary">
				<div class="panel-heading"><h3 class="panel-title">添加设备</h3></div>
				<div class="panel-body">
					<%= form_tag  devices_importcreate_path, method: :post  do %>
						<div class="form-group">
							<label>设备详情:</label><br>
							<textarea placeholder="导入设备:'编号,设备名,类型,维保号,位置;'" class="form-control" name="devices" id="devices"></textarea>
						</div>
						<div class="form-group">
							<%= submit_tag "确定导入", class: "btn btn-primary submit btn-block" %>
						</div>
					<% end %>
					<br/><a href="<%= devices_path %>">>>返回设备列表</a>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading"><h3 class="panel-title">分配设备</h3></div>
				<div class="panel-body">
					<%= form_tag  devices_batchassign_path, method: :post, remote: true  do %>
						<div class="form-group">
							<label>设备员工:</label><br>
							<textarea placeholder="设备" class="form-control" name="deviceusers" id="deviceusers"></textarea>
						</div>
						<div class="form-group">
							<%= submit_tag "确定导入", class: "btn btn-primary submit btn-block" %>
						</div>
					<% end %>
					<br/><a href="<%= devices_path %>">>>返回设备列表</a>
				</div>
			</div>


		</div>
	</div>
</div>
    <script>
		$(function(){
			$('#user_id').searchableSelect();
			$('#device_id').searchableSelect();
		});
    </script>


