<% provide :c_active, "asset" %>
<% provide :pre_title, "设备" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">设备</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
      <div  class="alert alert-danger"><%= msg %></div>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
      	系统共有 <b><%= @devices.count %></b> 台设备<a href="<%= new_device_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;"><%= t("adddevice")%></a><a href="<%= devices_batchadd_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;margin-right: 10px;">批量添加</a><a href="<%= devices_importd_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;margin-right: 10px;">导入</a>
      </div>

    	<nav class="navbar navbar-default" role="navigation">
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    			<form class="navbar-form navbar-left" role="search" action="<%= devices_search_path %>">
    				<div class="form-group">
              			<label for="name">设备分类:</label>
              			<select class="form-control" name=device[decategory_id]>
                			<option value=""></option>
                			<% @decategorys.each do |decategory| %>
                				<% if  @decategory_id.to_i == decategory.id %>
    	                        	<% selected = 'selected="selected"' %>
    	                        <% end %>
                  				<option value="<%= decategory.id %>" <%= selected %> ><%= decategory.name %></option>
                			<% end %>
              			</select>
            		</div>
            		<div class="form-group">
              			<label for="name" class="control-label">使用者:&nbsp;</label>
              			<select class="form-control" name=device[user_id]>
                			<option value=""></option>
                			<% @users.each do |user| %>
                				<% if  @user_id.to_i == user.id %>
    	                    <% selected = 'selected="selected"' %>
    	                  <% end %>
                  				<option value="<%= user.id %>" <%= selected %> ><%= user.username %></option>
                			<% end %>
              			</select>
            		</div>
    				<div class="form-group">
              			<label for="name">设备状态:</label>
              			<select class="form-control" name=device[status_id]>
                			<option value=""></option>
                			<% @status.each do |zt| %>
                				<% if  @status_id == zt['id'] %>
    	                        	<% selected = 'selected="selected"' %>
    	                        <% end %>
                  				<option value="<%= zt['id'] %>" <%= selected %> ><%= zt['name'] %></option>
                			<% end %>
              			</select>
            		</div>
    				<label for="time" class="control-label">服务到期时间:&nbsp;</label>
            		<div class="input-group controls input-append date form_datetime col-sm-3" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
              			<input type="text" class="form-control" size="16" readonly name="device[scrap_date]" value="<%= @scrap_date %>" placeholder="搜索范围:前后一个月" >
              			<span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
              			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            		</div>
    		        <script type="text/javascript">
    		          $('.form_datetime').datetimepicker({
    		              format: 'yyyy-mm-dd',
    		              language: 'zh-CN',
    		              weekStart: 1,
    		              todayBtn:  1,
    		              autoclose: 1,
    		              todayHighlight: 1,
    		              startView: 2,
    		              forceParse: 0,
    		              showMeridian: 1
    		          });
    		        </script>
    				<button type="submit" class="btn btn-default" style="float: right;">搜索</button>
    			</form>
    		</div>
    	</nav>

	  <div class="table-responsive">
	    <table class="table table-striped table-hover">
	      <thead>
	          <tr><th><%= t("devicecode")%></th><th><%= t("devicename")%></th><th>类型</th><th><%= t("deviceserviceno")%></th><th><%= t("devicedetails")%></th><th>使用者</th><th>设备状态</th><th>服务到期时间</th><th><%= t("operation")%></th></tr>
	      </thead>
	      <tbody>

			<% @devices.each do |device| %>
                <% if  (Time.parse(device.scrap_date.try(:strftime, "%Y-%m-%d")) - Time.now) < 0 %>
                    <% danger = 'class= danger' %>
                <% elsif (Time.parse(device.scrap_date.try(:strftime, "%Y-%m-%d")) - Time.now) < 2592000 %>
                    <% danger = 'class= warning' %>
                <% end %>
			    <tr <%= danger %> >
			      <td><%= link_to device.asset_code, device_path(device) %></td>
			      <td class="asset_name" iid="<%= device.id %>"><p><%= device.asset_name %></p></td>
            <td><p><%= device_type device.decategory_id %></p></td>
			      <td class="service_sn" iid="<%= device.id %>"><p><%= device.service_sn %></p></td>
			      <td class="asset_details" iid="<%= device.id %>" style="word-wrap:break-word;width: 300px;"><p><%= device.asset_details %></p></td>
			      <td><%= user_name device.user_id %></td>
			      <td><%= device_status device.status %></td>
			      <td><%= device.scrap_date.try(:strftime, "%Y-%m-%d") %></td>
			      <td><%= link_to '修改', edit_device_path(device) %></td>
            <% if  (Time.parse(device.scrap_date.try(:strftime, "%Y-%m-%d")) - Time.now) < 2592000 %>
              <td><%= link_to '续保', "deviceservices/devicenew/#{device.id}" %></td>
            <% end %>
			      <td><%#= link_to '删除', device_path(device), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
			    </tr>
			<% end %>
	      </tbody>
	    </table>
	  </div>
	  <%= will_paginate @devices, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    <ul class="pagination" style="float: right;"><li><%= link_to "导出", devices_path(format: "csv") %></li></ul>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
      $(".asset_name").dblclick( function () { 
        toReplacename(this)  
      });
    });
    toReplacename = function(pElement) { 
      // 创建一个input元素 
      var invar = $("<input type='text' class='form-control' value='' style='width: 100px;'>");
      // 把obj里面的元素以及文本内容赋值给新建的inputElement 
      
      invar.val($(pElement).find("p").html());
      $(pElement).find("p").replaceWith(invar);
      invar.focus();
      invar.focusout(function() {
        var invar = $("<p></p>");
        invar.html($(this).val());
        $(this).replaceWith(invar);
        $.ajax({
            type : "POST",
            url : "<%= devices_editdeviceassetname_path %>",
            data : {
                'id':$(pElement).attr('iid'),
                'asset_name':$(this).val()
            },
            dataType : "JSON",
            success : function(result){
            }
        });
      });
  } 
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".service_sn").dblclick( function () { 
        toReplacesn(this)  
      });
    });
    toReplacesn = function(pElement) { 
      // 创建一个input元素 
      var invar = $("<input type='text' class='form-control' value='' style='width: 100px;'>");
      // 把obj里面的元素以及文本内容赋值给新建的inputElement 
      
      invar.val($(pElement).find("p").html());
      $(pElement).find("p").replaceWith(invar);
      invar.focus();
      invar.focusout(function() {
        var invar = $("<p></p>");
        invar.html($(this).val());
        $(this).replaceWith(invar);
        $.ajax({
            type : "POST",
            url : "<%= devices_editdeviceservicesn_path %>",
            data : {
                'id':$(pElement).attr('iid'),
                'service_sn':$(this).val()
            },
            dataType : "JSON",
            success : function(result){
            }
        });
      });
  } 
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".asset_details").dblclick( function () { 
        toReplacedetails(this)  
      });
    });
    toReplacedetails = function(pElement) { 
      // 创建一个input元素 
      // var invar = $("<input type='text' class='form-control' value='' style='width: 300px;'>");

      var invar = $("<textarea class='form-control' rows='3'></textarea>");
      // 把obj里面的元素以及文本内容赋值给新建的inputElement 
      
      invar.val($(pElement).find("p").html());
      $(pElement).find("p").replaceWith(invar);
      invar.focus();
      invar.focusout(function() {
        var invar = $("<p></p>");
        invar.html($(this).val());
        $(this).replaceWith(invar);
        $.ajax({
            type : "POST",
            url : "<%= devices_editdeviceassetdetails_path %>",
            data : {
                'id':$(pElement).attr('iid'),
                'asset_details':$(this).val()
            },
            dataType : "JSON",
            success : function(result){
            }
        });
      });
  } 
  </script>
