<% provide :c_active, "asset" %>
<% provide :pre_title, "设备" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">设备</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
          <div  class="alert alert-<%= name %>"><%= msg %></div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
        系统共有 <b><%= @devices.count %></b> 台设备<a href="<%= new_device_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;"><%= t("adddevice")%></a><a href="<%= devices_batchadd_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;margin-right: 10px;">批量添加</a><!-- <a href="<%#= devices_importd_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;margin-right: 10px;">导入</a> --><a href="<%= devices_path(format: :xlsx) %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;margin-right: 10px;">导出</a>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= search_form_for @search,class: "navbar-form navbar-left" do |f| %>
                <div class="form-group">
                    <!-- <label for="name">设备编号:</label> -->
                    <%= f.text_field :asset_code_cont, class: "form-control", placeholder: "设备编号", style: "width: 150px;" %>
                </div>
                <div class="form-group">
                    <!-- <label for="name">设备分类:</label> -->
                    <%= f.select :decategory_id_eq_any, @decategorys.collect { |d| [ parentdecategory_name(d.id), d.id ] }, {include_blank: true}, {placeholder: '分类', class: "form-control pull_select"} %>
                </div>
                <div class="form-group">
                  <!-- <label for="name">员工:</label> -->
                  <%= f.select :user_id_eq_any, @users.collect { |u| [ u.username, u.id ] }, {include_blank: true}, {placeholder: '使用者', class: "form-control pull_select"} %>
                </div>
                <div class="form-group">
                  <!-- <label for="name">状态:</label> -->
                  <%= f.select :status_eq_any, @status.collect { |s| [ s['name'], s['id']]}, {include_blank: true}, {placeholder: '状态', class: "form-control pull_select"} %>
                </div>
                <div class="form-group">
                  <!-- <label for="name">报废:</label> -->
                  <%= f.select :is_scrap_eq_any, [["未报废",0], ["报废",1]], {include_blank: true}, {placeholder: "是否报废", class: "form-control pull_select"} %>
                </div>
                <div class="form-group">
                  <!-- <label for="name">报废:</label> -->
                  <%= f.select :is_delete_eq_any, [["未清理",0], ["已清理",1]], {include_blank: true}, {placeholder: "是否清理", class: "form-control pull_select"} %>
                </div>
                <!-- <label for="time" class="control-label">服务到期时间:&nbsp;</label> -->
                <!-- <div class="input-group controls input-append date form_datetime col-sm-3" data-date="2017-12-7T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1" style="width: 180px;">
                    <%#= f.text_field :scrap_date_gteq, class: "form-control", placeholder: "报废时间", style: "width: 180px;" %>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div> -->
            <%= f.submit "搜索", class: 'btn btn-default', style: "float: right;" %>
          <% end %>
        </div>
      </nav>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
            <tr><th><%= t("devicecode")%></th><th><%= t("devicename")%></th><th>类型</th><th><%= t("deviceserviceno")%></th><th><%= t("devicedetails")%></th><th>使用者</th><th>设备状态</th><th>是否报废</th><th>是否清理</th><th>服务到期时间</th><th><%= t("operation")%></th></tr>
        </thead>
        <tbody>
          <% @devices.each do |device| %>
            <% if  (Time.parse(device.scrap_date.try(:strftime, "%Y-%m-%d")) - Time.now) < 0 %>
              <% danger = 'class= danger' %>
            <% elsif (Time.parse(device.scrap_date.try(:strftime, "%Y-%m-%d")) - Time.now) < 2592000 %>
              <% danger = 'class= warning' %>
            <% end %>
            <tr <%= danger %> >
              <td><%= link_to device.asset_code, device_path(device) %></td>
              <td class="asset_name" iid="<%= device.id %>"><p><%= device.asset_name %></p></td>
              <td><p><%= device_type device.decategory_id %></p></td>
              <td class="service_sn" iid="<%= device.id %>"><p><%= device.service_sn %></p></td>
              <td class="asset_details" iid="<%= device.id %>" style="word-wrap:break-word;width: 300px;"><p><%= device.asset_details %></p></td>
              <td><%= user_name device.user_id %></td>
              <td><%= device_status device.status %></td>
              <td><%= device.is_scrap == 1 ? "报废" : "未报废" %></td>
              <td><%= device.is_delete == 1 ? "已清理" : "未清理" %></td>
              <td><%= device.scrap_date.try(:strftime, "%Y-%m-%d") %></td>
              <td><%= link_to '修改', edit_device_path(device) %></td>
              <% if  (Time.parse(device.scrap_date.try(:strftime, "%Y-%m-%d")) - Time.now) < 2592000  && device.is_delete == 0 %>
                <td><%= link_to '续保', "deviceservices/devicenew/#{device.id}" %></td>
              <% else %>
                <td></td>
              <% end %>
              <td><%= link_to '收回', recycle_device_path(device), data: { confirm: '确定收回设备吗?' } %></td>
              <td><%= link_to '清理', clear_device_path(device), data: { confirm: '确定清理设备吗?' } %></td>
              <td><%= link_to '删除', device_path(device), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @devices, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    <!-- <ul class="pagination" style="float: right;"><li><%#= link_to "导出", devices_path(format: "csv") %></li></ul> -->
    </div>
  </div>
</div>

<!-- 下面三个js是在设备列表页时使用ajax修改设备的设备名,服务号,设备详情使用的 -->
<script type="text/javascript">
  $(document).ready(function(){
    $(".asset_name").dblclick( function () {
      toReplacename(this)
    });
  });
  toReplacename = function(pElement) {
    // 创建一个input元素
    var invar = $("<input type='text' class='form-control' value='' style='width: 100px;'>");
    // 把obj里面的元素以及文本内容赋值给新建的inputElement

    invar.val($(pElement).find("p").html());
    $(pElement).find("p").replaceWith(invar);
    invar.focus();
    invar.focusout(function() {
      var invar = $("<p></p>");
      invar.html($(this).val());
      $(this).replaceWith(invar);
      $.ajax({
          type : "POST",
          url : "<%= devices_editdeviceassetname_path %>",
          data : {
              'id':$(pElement).attr('iid'),
              'asset_name':$(this).val()
          },
          dataType : "JSON",
          success : function(result){
          }
      });
    });
}
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".service_sn").dblclick( function () {
      toReplacesn(this)
    });
  });
  toReplacesn = function(pElement) {
    // 创建一个input元素
    var invar = $("<input type='text' class='form-control' value='' style='width: 100px;'>");
    // 把obj里面的元素以及文本内容赋值给新建的inputElement

    invar.val($(pElement).find("p").html());
    $(pElement).find("p").replaceWith(invar);
    invar.focus();
    invar.focusout(function() {
      var invar = $("<p></p>");
      invar.html($(this).val());
      $(this).replaceWith(invar);
      $.ajax({
          type : "POST",
          url : "<%= devices_editdeviceservicesn_path %>",
          data : {
              'id':$(pElement).attr('iid'),
              'service_sn':$(this).val()
          },
          dataType : "JSON",
          success : function(result){
          }
      });
    });
}
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".asset_details").dblclick( function () {
      toReplacedetails(this)
    });
  });
  toReplacedetails = function(pElement) {
    // 创建一个input元素
    // var invar = $("<input type='text' class='form-control' value='' style='width: 300px;'>");

    var invar = $("<textarea class='form-control' rows='3'></textarea>");
    // 把obj里面的元素以及文本内容赋值给新建的inputElement

    invar.val($(pElement).find("p").html());
    $(pElement).find("p").replaceWith(invar);
    invar.focus();
    invar.focusout(function() {
      var invar = $("<p></p>");
      invar.html($(this).val());
      $(this).replaceWith(invar);
      $.ajax({
          type : "POST",
          url : "<%= devices_editdeviceassetdetails_path %>",
          data : {
              'id':$(pElement).attr('iid'),
              'asset_details':$(this).val()
          },
          dataType : "JSON",
          success : function(result){
          }
      });
    });
}
</script>
<!-- 搜索设备的三个下拉框 -->
<script>
  $(function(){
    $('select').searchableSelect();
  });
</script>
<script type="text/javascript">
  $('.form_datetime').datetimepicker({
      format: 'yyyy-mm-dd',
      minView: "month",
      language: 'zh-CN',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
  });
</script>
