<% provide :c_active, "asset" %>
<% provide :pre_title, "添加设备" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="<%= devices_path %>">设备</a></li>
        <li class="active">添加设备</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <% if @device && @device.errors.any? %>
        <div id="error-info" class="alert alert-danger">
          <div class="form-error">
            <span class="form-error-field"><%= @device.errors.full_messages[0] %></span>
          </div>
        </div>
      <% end %>
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">添加设备</h3></div>
        <div class="panel-body">
          <%= form_for @device, url: devices_path do |f| %>
            <div id="error-info" class="alert alert-danger" style="display: none;"></div>
            <div class="form-group">
              <label for="decategory_id">设备类型:</label>
                    <select class="form-control" name=device[decategory_id] id="decategory_id">
                      <% @decategorys.each do |decategory| %>
                          <option value="<%= decategory.id %>"><%= parentdecategory_name decategory.id %></option>
                      <% end %>
                    </select>
                </div>
            <div class="form-group">
              <label>设备编号:</label><br>
              <%= f.text_field :asset_code, placeholder: "设备编号 ", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>设备名:</label><br>
              <%= f.text_field :asset_name, placeholder: "设备名", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>设备服务号:</label><br>
              <%= f.text_field :service_sn, placeholder: "设备服务号", class: "form-control" %>
            </div>
            <div class="form-group">
              <label for="time" class="control-label">出厂日期:&nbsp;</label>
              <div class="input-group controls input-append date form_datetime" data-date="2017-12-7T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                <input type="text" class="form-control" size="16" readonly name="device[release_date]">
                <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
              <script type="text/javascript">
                $('.form_datetime').datetimepicker({
                    format: 'yyyy-mm-dd',
                    minView: "month",
                    language: 'zh-CN',
                    weekStart: 1,
                    todayBtn:  1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    forceParse: 0,
                    showMeridian: 1
                });
              </script>
            </div>
            <div class="form-group">
              <label>设备维保时间:</label><br>
              <input class="string optional form-control"  placeholder="请输入设备的维保时间,单位(月),没有时间的写大点"  type="text" name="device[guaranteed]" id="device_asset_details">
            </div>
            <div class="form-group">
              <label>设备详情:</label><br>
              <%= f.text_area :asset_details, placeholder: "设备详情", class: "form-control" %>
            </div>
            <%= f.submit "确定添加", class: "btn btn-primary btn-block" %>
          <% end %>
          <br/><a href="<%= devices_path %>">>>返回设备列表</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('#decategory_id').searchableSelect();
  });
</script>
