<% provide :c_active, "asset" %>
<div class="container" style="padding-top:70px;">
<div class="col-sm-12 col-md-10 center-block" style="float: none;">

	<div class="panel panel-primary">
		<div class="panel-heading"><h3 class="panel-title">添加设备</h3></div>
		<div class="panel-body">
			<%= simple_form_for @device, url: devices_path, remote: true do |f| %>
				
				<div id="error-info" class="alert alert-danger" style="display: none;"></div>
				<div class="form-group">
		          	<label for="name">设备类型:</label>
		          	<select class="form-control" name=device[decategory_id]>
		            	<% @decategorys.each do |decategory| %>
		              		<option value="<%= decategory.id %>"><%= decategory.name %></option>
		            	<% end %>
		          	</select>
		        </div>
		        
				<div class="form-group">
					<label>设备编号:</label><br>
					<%= f.input_field :asset_code, placeholder: "设备编号", class: "form-control" %>
				</div>
				<div class="form-group">
					<label>设备名:</label><br>
					<%= f.input_field :asset_name, placeholder: "设备名", class: "form-control" %>
				</div>
				<div class="form-group">
					<label>设备服务号:</label><br>
					<%= f.input_field :service_sn, placeholder: "设备服务号", class: "form-control" %>
				</div>


				

		        <div class="form-group">
					<label for="time" class="control-label">出厂日期:&nbsp;</label>
			        <div class="input-group controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
			          <input type="text" class="form-control" size="16" readonly name="device[release_date]">
			          <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
			          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			        </div>
			        <script type="text/javascript">
			          $('.form_datetime').datetimepicker({
			              format: 'yyyy/mm/dd',
			              language: 'zh-CN',
			              weekStart: 1,
			              todayBtn:  1,
			              autoclose: 1,
			              todayHighlight: 1,
			              startView: 2,
			              forceParse: 0,
			              showMeridian: 1
			          });
			        </script>
		        </div>
				
				<div class="form-group">
					<label>设备维保时间:</label><br>
					<input class="string optional form-control"  placeholder="请输入设备的维保时间,单位(月)"  type="text" name="device[guaranteed]" id="device_asset_details">
				</div>

				<div class="form-group">
					<label>设备详情:</label><br>
					<%= f.input_field :asset_details, placeholder: "设备详情", class: "form-control" %>
				</div>


<!-- 				<div class="form-group">
		          	<label for="name">设备所属:</label>
		          	<select class="form-control" name=device[belong_to]>
		          			<option value="0"></option>
		            	<% @devices.each do |device| %>
		              		<option value="<%= device.id %>"><%= device.asset_code %></option>
		            	<% end %>
		          	</select>
		        </div> -->


<!-- 		        <div class="form-group">
		          	<label for="name">设备状态:</label>
		          	<select class="form-control" name=device[status]>
		          		<option value="0">未分配</option>
		          		<option value="1">办公使用</option>
		            	<option value="2">闲置</option>
		            	<option value="3">维修</option>
		            	<option value="4">借用</option>
		            	<option value="5">报废</option>
		            	<option value="6">报废清理</option>
		            	<option value="7">报废借用</option>
		          	</select>
		        </div> -->



				<%= f.button :submit, "确定添加", class: "btn btn-primary btn-block" %>
			<% end %>
			<br/><a href="<%= devices_path %>">>>返回设备列表</a>
		</div>
	</div>


</div>
</div>



