<% provide :c_active, "asset" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>




<div class="mainer" style="margin-top: 0; padding-top: 70px;">
    <div class="container-fluid">
        <div class="col-md-10 col-lg-10 col-center-block content-wrap">
            <div id="content">

                <!-- 头像与密码设置 -->
                <div class="col-md-4 account-setting">
                    <div class="boxed-group" >
                        <%= content_tag :h3, "使用员工" %>
                        <div class="boxed-group-inner boxed-group-round-border">
                            <% if !@user.nil? %>
                              <h3 style="margin-top: 0px"><%= @user.username %></h3>
                              <h5>部门:<%= department_name @user.department_id %>&nbsp;&nbsp;&nbsp;&nbsp;邮箱:<%= @user.email %>&nbsp;&nbsp;&nbsp;&nbsp;使用方式:<%= device_status @device.status %></h5>
                            <% else %>
                              <h3>未分配</h3>
                            <% end %>
                        </div>
                    </div>
                    <div class="boxed-group" >
                        <%= content_tag :h3, "属主" %>
                        <% if  !@mdevice.nil? %>
                            <div class="boxed-group-inner boxed-group-round-border">
                                <div class="form-group">
                                    <h3 style="margin-top: 0px"><%= link_to @mdevice.asset_code, device_path(@mdevice) %></h3>
                                </div>
                            </div>
                        <% else %>
                            <div class="boxed-group-inner boxed-group-round-border">
                                <h3 style="margin-top: 0px">不从属其他设备</h3>
                            </div>
                        <% end %>
                    </div>

                    <div class="boxed-group" >
                        <%= content_tag :h3, "分配设备" %>
                        <div class="boxed-group-inner boxed-group-round-border">
                            <div id="error-info" class="alert alert-danger" style="display: none;"></div>
                            <%= form_tag  assigndevise_device_path, remote: true do %>
                             <div class="form-group">
                                 <label for="assigntype"> 分配类型:</label>
                                <select class="form-control" name="device[assigntype]" id="assigntype" onchange="create_borrowtime(this)">
                                  <option value="">请选择设备分配类型</option>
                                  <option value="2">办公使用</option>
                                  <option value="5">借用</option>
                                </select>
                              </div>
                              <br>
                              <div class="form-group" id="borrowtime_div" style="display: none;">
                                  <label for="borrowtime"> 借用时间:</label>
                                  <input type="number" name="device[borrowtime]" class="form-control" id="borrowtime" placeholder="请输入借用时间,单位:天数">
                              </div>
                              <br id="borrowtime_br" style="display: none;">

                              <div class="form-group">
                                <label for="user_department"> 员工部门:</label>
                                <select class="form-control" name="device[user_department]" id="user_department" onchange="show_position(this)">
                                  <option value="">请选择员工部门</option>
                                  <% @departments.each do |department| %>
                                    <option value="<%= department.id %>"><%= department.department_name %></option>
                                  <% end %>
                                </select>
                              </div>
                              <br>
                              <div class="form-group">
                                <label for="user_id"> 员工:</label>
                                <select id="ajaxuser" class="form-control" name="device[user_id]" id="user_id">
                                  <option value="">请选择员工</option>
                                </select>
                              </div>
                              <div class="form-group">

                                <%= submit_tag "分配", class: "btn btn-primary submit" %>
                              </div>
                            <% end %>
                        </div>
                    </div>

                    <% if  @device.status == 2 || @device.status == 5 || @device.status == 7 %>
                      <!-- 当设备被使用时(办公使用,借用,报废借用)不能再这设置状态 -->
                    <% else %>
                      <div class="boxed-group" >
                          <%= content_tag :h3, "设备状态设置" %>
                          <div class="boxed-group-inner boxed-group-round-border">
                              <div id="error-info" class="alert alert-danger" style="display: none;"></div>
                              <%= form_tag  setstatus_device_path, remote: true do %>
                               <div class="form-group">
                                   <label for="assigntype"> 设备状态:</label>
                                  <select class="form-control" name="device[status]" id="assigntype">
                                    <option value="">请选择设备状态</option>
                                    <option value="3">闲置</option>
                                    <option value="4">维修</option>
                                    <option value="6">报废</option>
                                    <option value="8">报废清理</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <%= submit_tag "设置", class: "btn btn-primary submit" %>
                                </div>
                              <% end %>
                          </div>
                      </div>
                    <% end %>
                      
                </div>
<script>

    function show_position(ele) {
        $.ajax({
            type : "GET",
            url : "<%= ajaxgetuser_path %>",
            data : {
                'id':$(ele).val()
            },
            dataType : "JSON",
            success : function(result){
                if(!result.status){
                    var str = '<option value ="">请选择员工</option>';
                    $.each(result,function (i,value) {
                      str += '<option value ="'+value.id+'">'+value.username+'</option>';
                    });
                    $('#ajaxuser').html(str);
                }else{
                    if(result.msg){
                        alert(result.msg);
                    }
                }
            }
        });
    }

    function create_borrowtime(ele) {
        if ($(ele).val() == 4) {
            $("#borrowtime_div").css("display","block");
            $("#borrowtime_br").css("display","block");
        }else{
            $("#borrowtime_div").css("display","none");
            $("#borrowtime_br").css("display","none");
        }
    }
</script> 

                <!-- 电脑信息设置 -->
                <div class="col-md-8 profile-setting">
                    <div class="boxed-group">
                        <%= content_tag :h3, "设备: #{@device.asset_code} 状态: #{device_status @device.status}" %>
                        <div class="boxed-group-inner">
                            <%= form_for @device, url: showupdate_device_path(@device), method: :post,  remote: true do |f| %>
                            <div class="form-group">
                                <label>设备名:</label><br>
                                <%= f.text_field :asset_name, class: "form-control form-input-normal" %>
                            </div>
                            <div class="form-group">
                                <label>设备服务号:</label><br>
                                <%= f.text_field :service_sn, class: "form-control form-input-normal" %>
                            </div>
                            <div class="form-group">
          					          	<label for="name">设备类型:</label>
          					          	<select class="form-control" name=device[decategory_id]>
          					            	<% @decategorys.each do |decategory| %>
          					              		<option value="<%= decategory.id %>"><%= decategory.name %></option>
          					            	<% end %>
          					          	</select>
          					        </div>
                            <div class="form-group">
              								<label for="time" class="control-label">出厂日期:&nbsp;</label>
              						        <div class="input-group controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
              						          <input type="text" class="form-control" size="16" readonly name="device[release_date]" value="<%= @device.release_date.try(:strftime, "%Y-%m-%d") %>">
              						          <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
              						          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              						        </div>
              						        <script type="text/javascript">
              						          $('.form_datetime').datetimepicker({
              						              format: 'yyyy/mm/dd',
              						              language: 'zh-CN',
              						              weekStart: 1,
              						              todayBtn:  1,
              						              autoclose: 1,
              						              todayHighlight: 1,
              						              startView: 2,
              						              forceParse: 0,
              						              showMeridian: 1
              						          });
              						        </script>
              					    </div>
                            <div class="form-group">
                              <label for="time" class="control-label">维保到期:&nbsp;</label>
                                  <div class="input-group controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                    <input type="text" class="form-control" size="16" readonly name="device[scrap_date]" value="<%= @device.scrap_date.try(:strftime, "%Y-%m-%d") %>">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                  </div>
                                  <script type="text/javascript">
                                    $('.form_datetime').datetimepicker({
                                        format: 'yyyy/mm/dd',
                                        language: 'zh-CN',
                                        weekStart: 1,
                                        todayBtn:  1,
                                        autoclose: 1,
                                        todayHighlight: 1,
                                        startView: 2,
                                        forceParse: 0,
                                        showMeridian: 1
                                    });
                                  </script>
                            </div>
                            <div class="form-group">
              								<label>设备详情:</label><br>
              								<%= f.text_field :asset_details, placeholder: "设备详情", class: "form-control" %>
              							</div>

                            <div class="form-group">
                              <label>设备位置:</label><br>
                              <%= f.text_field :location, placeholder: "设备所在位置", class: "form-control" %>
                            </div>

                            <div class="form-group">
                                <%= f.submit "更新资料", class: "btn btn-primary submit" %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-12 profile-setting" style="padding-top: 30px;">
                    <div class="boxed-group">
                        <%= content_tag :h3, "从属设备列表" %>
                        <div class="boxed-group-inner">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr><th>设备编号</th><th>设备名</th><th>设备类型</th><th>分配时间</th><th>操作</th></tr>
                                  </thead>
                                  <tbody>
                                      <% @parts.each do |part| %>
                                          <tr>
                                            <td><%= link_to part.part_code, part_path(part) %></td>
                                            <td><%= part.part_name %></td>
                                            <td><%= part_type part.partcategory_id %></td>
                                            <td><%= part.assign_time %></td>
                                            <td><%= link_to '修改', edit_part_path(part) %></td>
                                            <td><%= link_to '删除', part_path(part), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
                                          </tr>
                                      <% end %>
                                  </tbody>
                              </table>
                            </div>
                            <div class="form-group">
                              <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary submit" style="color: #fff; ">添加从属设备</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 profile-setting" style="padding-top: 30px;">
                    <div class="boxed-group">
                        <%= content_tag :h3, "设备分配记录" %>
                        <div class="boxed-group-inner">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr><th>用户</th><th>note</th><th>分配时间</th></tr>
                                  </thead>
                                  <tbody>
                                      <% @devicerecords.each do |devicerecord| %>
                                          <tr>
                                            <td><%= user_name devicerecord.user_id %></td>
                                            <td><%= devicerecord.note %></td>
                                            <td><%= devicerecord.created_at.try(:strftime, "%Y-%m-%d") %></td>
                                          </tr>
                                      <% end %>
                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加配件</h4>
      </div>
        <%= form_tag  appendpart_device_path do %>
          <div class="modal-body" style="padding: 15px;">

              <div class="form-group">
                <label for="decategory"> 配件分类:</label>
                <select class="form-control" name="device[decategory]" id="decategory" onchange="get_part(this)">
                  <option value="">请选择配件分类</option>
                  <% @partcategorys.each do |partcategory| %>
                    <option value="<%= partcategory.id %>"><%= partcategory.name %></option>
                  <% end %>
                </select>
              </div>
              <br>
              <div class="form-group">
                <label for="device_id"> 配件:</label>
                <select id="ajaxdevice" class="form-control" name="part[part_id]" id="device_id">
                  <option value="">请选择配件</option>
                </select>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">添加</button>
          </div>
        <% end %>
    </div>
  </div>
</div>


<script>
    function get_part(ele) {
        $.ajax({
            type : "GET",
            url : "<%= ajaxgetpart_path %>",
            data : {
                'partcategoryid':$(ele).val()
            },
            dataType : "JSON",
            success : function(result){
                if(!result.status){
                    var str = '<option value ="">请选择配件</option>';
                    $.each(result,function (i,value) {
                      str += '<option value ="'+value.id+'">'+value.part_code+'----'+value.part_name+'</option>';
                    });
                    $('#ajaxdevice').html(str);
                }else{
                    if(result.msg){
                        alert(result.msg);
                    }
                }
            }
        });
    }
</script>



<%= javascript_include_tag 'uploader' %>

<script>
    $("#upload-avatar-input").on("change", function(){
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 1) {
            <% flash.now[:warning] = t "flash.warning.avatar_too_big", size: 1 %>
            $(".mainer").eq(0).before("<%= j render(partial: 'shared/flash_messages_inner') %>");
            <% flash.delete :warning %>
        } else {
            // 提交图片
            $("#avatar-submit").click();
        }
    });
</script>
