<% provide :c_active, "asset" %>
<% provide :pre_title, "设备详情" %>

<div class="container" style="margin-top: 0; padding-top: 70px;">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="/">主页</a></li>
          <li><a href="<%= devices_path %>">设备</a></li>
          <li class="active">设备详情</li>
        </ul>
      </div>
    </div>
    <div class="row">
    	<div class="col-sm-12 col-md-12">
    	    <% flash.each do |name, msg| %>
				      <div  class="alert alert-<%= name %>"><%= msg %></div>
			    <% end %>
          <div id="error-infoassign" class="alert alert-danger" style="display: none;"></div>
    	</div>
    </div>
    <div class="row">
        <!-- 头像与密码设置 -->
        <div class="col-sm-3 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">使用员工</h3></div>
                <div class="panel-body">
                    <% if !@user.nil? %>
                      <h3 style="margin-top: 0px"><%= @user.username %></h3>
                      <h5>部门:&nbsp;&nbsp;<%= department_name @user.department_id %><br/>邮箱:&nbsp;&nbsp;<%= @user.email %><br/>使用方式:&nbsp;&nbsp;<%= device_status @device.status %></h5>
                    <% else %>
                      <h3>未分配</h3>
                    <% end %>
                </div>
            </div>

            <% if  @device.is_assign == 1  %>
              <!-- 当设备被使用时(办公使用,借用,报废借用)不能再这设置状态 -->
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">分配设备</h3></div>
                    <div class="panel-body">
                        设备正在使用,收回之后才能再次分配
                        <td><%= link_to '收回设备', recycle_device_path(@device), data: { confirm: '确定收回设备吗?' } %></td>
                    </div>
                </div>
            <% else %>
                <div class="panel panel-info">
                    <div class="panel-heading"><h3 class="panel-title">分配设备</h3></div>
                    <div class="panel-body">
                        <%= form_tag  assigndevise_device_path, remote: true do %>
                         <div class="form-group">
                            <label for="assigntype"> 分配类型:</label>
                            <select class="form-control" name="device[assigntype]" id="assigntype" onchange="create_borrowtime(this)">
                                <option value="">请选择设备分配类型</option>
                                <% if  @device.is_scrap == 0 %>
                                    <option value="2">办公使用</option>
                                    <option value="5">借用</option>
                                <% else %>
                                	<option value="7">报废借用</option>
                                <% end %>
                            </select>
                          </div>
                          <br>
                          <div class="form-group" id="borrowtime_div" style="display: none;">
                              <label for="borrowtime"> 借用时间:</label>
                              <input type="number" name="device[borrowtime]" class="form-control" id="borrowtime" placeholder="请输入借用时间,单位:天数">
                          </div>
                          <br id="borrowtime_br" style="display: none;">

                          <div class="form-group">
                            <label for="user_department"> 员工部门:</label>
                            <select class="form-control" name="device[user_department]" id="user_department" onchange="show_position(this)">
                              <option value="">请选择员工部门</option>
                              <% @departments.each do |department| %>
                                <option value="<%= department.id %>"><%= department.department_name %></option>
                              <% end %>
                            </select>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="ajaxuser"> 员工:</label>
                            <select id="ajaxuser" class="form-control" name="device[user_id]">
                              <option value="">请选择员工</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <%= submit_tag "分配", class: "btn btn-primary submit" %>
                          </div>
                        <% end %>
                    </div>
                </div>
            <% end %>

            <% if  @device.status == 1 || @device.status == 2 || @device.status == 5 || @device.status == 7 %>
              <!-- 当设备被使用时(办公使用,借用,报废借用)不能再这设置状态 -->
              <div class="panel panel-info">
                  <div class="panel-heading"><h3 class="panel-title">设备状态设置</h3></div>
                  <div class="panel-body">
                  当设备状态无人使用时才能设置状态
                  </div>
              </div>
            <% else %>
              <div class="panel panel-info">
                  <div class="panel-heading"><h3 class="panel-title">设备状态设置</h3></div>
                  <div class="panel-body">
                      <%= form_tag  setstatus_device_path, remote: true do %>
                       <div class="form-group">
                           <label for="devicestatus"> 设备状态:</label>
                          <select class="form-control" name="device[status]" id="devicestatus">
                            <option value="">请选择设备状态</option>
                            <% if  @device.is_scrap == 0 %>
                                <option value="3">闲置</option>
                                <option value="4">维修</option>
                            <% else %>
                            	  <option value="6">报废</option>
                                <option value="8">报废清理</option>
                            <% end %>
                          </select>
                        </div>
                        <div class="form-group">
                          <%= submit_tag "设置", class: "btn btn-primary submit" %>
                        </div>
                      <% end %>
                  </div>
              </div>
            <% end %>
              
        </div>

		<script>

		    function show_position(ele) {
		        $.ajax({
		            type : "GET",
		            url : "<%= ajaxgetuser_path %>",
		            data : {
		                'id':$(ele).val()
		            },
		            dataType : "JSON",
		            success : function(result){
		                if(!result.status){
		                    var str = '<option value ="">请选择员工</option>';
		                    $.each(result,function (i,value) {
		                      str += '<option value ="'+value.id+'">'+value.username+'</option>';
		                    });
		                    $('#ajaxuser').html(str);
                        $('#ajaxuser').searchableSelect();
		                }else{
		                    if(result.msg){
		                        alert(result.msg);
		                    }
		                }
		            }
		        });
		    }

		    function create_borrowtime(ele) {
		        if ($(ele).val() == 5 || $(ele).val() == 7) {
		            $("#borrowtime_div").css("display","block");
		            $("#borrowtime_br").css("display","block");
		        }else{
		            $("#borrowtime_div").css("display","none");
		            $("#borrowtime_br").css("display","none");
		        }
		    }
		</script> 

		<!-- 设备信息设置 -->
		<div class="col-sm-9 col-md-9">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<%= "设备: #{@device.asset_code}    状态: #{device_status @device.status}    维保: #{isscrap @device.is_scrap}" %>
					</h3>
				</div>
				<div class="panel-body">
					<%= form_for @device, url: showupdate_device_path(@device), method: :post,  remote: true do |f| %>
						<div class="form-group">
							<label>设备名:</label><br>
							<%= f.text_field :asset_name, class: "form-control form-input-normal" %>
						</div>
						<div class="form-group">
							<label>设备服务号:</label><br>
							<%= f.text_field :service_sn, class: "form-control form-input-normal" %>
						</div>
						<div class="form-group">
							<label for="devicetype">设备类型:</label>
							<select class="form-control" name=device[decategory_id] id="devicetype">
								<% @decategorys.each do |decategory| %>
                  <% if  @device.decategory_id == decategory.id %>
                    <% selected = 'selected="selected"' %>
                  <% end %>
									<option value="<%= decategory.id %>" <%= selected %> ><%= decategory.name %></option>
								<% end %>
							</select>
						</div>
						<div class="form-group">
							<label>设备详情:</label><br>
							<%= f.text_field :asset_details, placeholder: "设备详情", class: "form-control" %>
						</div>
						<div class="form-group">
							<label>设备位置:</label><br>
							<%= f.text_field :location, placeholder: "设备所在位置", class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.submit "更新资料", class: "btn btn-primary submit" %>
							<% if  (Time.parse(@device.scrap_date.try(:strftime, "%Y-%m-%d")) - Time.now) < 2592000 %>
								<%= link_to '续保', "/deviceservices/devicenew/#{@device.id}",class: "btn btn-primary submit", style: "color: #fff;" %>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
        

        <div class="col-sm-12 col-md-12" style="padding-top: 30px;">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">配件列表</h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr><th>设备编号</th><th>设备名</th><th>设备类型</th><th>分配时间</th><th>操作</th></tr>
                          </thead>
                          <tbody>
                              <% @parts.each do |part| %>
                                  <tr>
                                    <td><%= link_to part.part_code, part_path(part) %></td>
                                    <td><%= part.part_name %></td>
                                    <td><%= part_type part.partcategory_id %></td>
                                    <td><%= part.assign_time %></td>
                                    <td><%= link_to '拆除', remove_part_path(part), data: { confirm: '你确定要拆除吗?' } %></td>
                                  </tr>
                              <% end %>
                          </tbody>
                      </table>
                    </div>
                    <div class="form-group">
                      <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary submit" style="color: #fff; ">添加配件</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 设备拥有授权列表 -->
        <div class="col-md-12 profile-setting" style="padding-top: 30px;">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">设备拥有授权列表</h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr><th>授权名</th><th>授权到期时间</th><th>分配时间</th></tr>
                          </thead>
                          <tbody>
                              <% @authorizations.each do |authorization| %>
                                  <tr>
                                    <td><%= link_to authorization.name, authorization_path(authorization) %></td>
                                    <td><%= authorization.end_date.try(:strftime, "%Y-%m-%d") %></td>
                                    <td><%= authorization.created_at.try(:strftime, "%Y-%m-%d") %></td>
                                  </tr>
                              <% end %>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12" style="padding-top: 30px;">
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">设备分配记录</h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr><th>用户</th><th>note</th><th>分配时间</th></tr>
                          </thead>
                          <tbody>
                              <% @devicerecords.each do |devicerecord| %>
                                  <tr>
                                    <td><%= user_name devicerecord.user_id %></td>
                                    <td><%= devicerecord.note %></td>
                                    <td><%= devicerecord.created_at.try(:strftime, "%Y-%m-%d") %></td>
                                  </tr>
                              <% end %>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 添加配件方法 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">添加配件</h4>
			</div>
			<%= form_tag  appendpart_device_path do %>
				<div class="modal-body" style="padding: 15px;">
					<div class="form-group">
						<label for="parttype"> 配件分类:</label>
						<select class="form-control" name="device[decategory]" id="parttype" onchange="get_part(this)">
							<option value="">请选择配件分类</option>
							<% @partcategorys.each do |partcategory| %>
								<option value="<%= partcategory.id %>"><%= partcategory.name %></option>
							<% end %>
						</select>
					</div>
					<br>
					<div class="form-group">
						<label for="part_id"> 配件:</label>
						<select id="part_id" class="form-control" name="part[part_id]">
							<option value="">请选择配件</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-primary">添加</button>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
    function get_part(ele) {
        $.ajax({
            type : "GET",
            url : "<%= ajaxgetpart_path %>",
            data : {
                'partcategoryid':$(ele).val()
            },
            dataType : "JSON",
            success : function(result){
                if(!result.status){
                    var str = '<option value ="">请选择配件</option>';
                    $.each(result,function (i,value) {
                      str += '<option value ="'+value.id+'">'+value.part_code+'----'+value.part_name+'</option>';
                    });
                    $('#part_id').html(str);
                    $('#part_id').searchableSelect();
                }else{
                    if(result.msg){
                        alert(result.msg);
                    }
                }
            }
        });
    }
</script>
<!-- 搜索设备的三个下拉框 -->
<script>
  $(function(){
    $('#user_department').searchableSelect();
    $('#devicestatus').searchableSelect();
    $('#devicetype').searchableSelect();
    $('#parttype').searchableSelect();
  });
</script>