<% provide :c_active, "asset" %>
<% provide :pre_title, "修改配件分类" %>
<div class="container" style="padding-top:70px;">
<div class="col-sm-12 col-md-10 center-block" style="float: none;">

	<div class="panel panel-primary">
		<div class="panel-heading"><h3 class="panel-title">修改配件分类</h3></div>
		<div class="panel-body">
			

			<% if @partcategory && @partcategory.errors.any? %>
				<div class="alert alert-info"><%= @partcategory.errors.full_messages[0] %></div>
			<% end %>


			<%= form_for @partcategory, url: partcategory_path do |f| %>
				<div class="form-group">
					<label>设备分类名:</label><br>
					<%= f.text_field :name, placeholder: "配件分类名", class: "form-control" %>
					<br>
					<label>设备分类代码:</label><br>
					<%= f.text_field :partcategorycode, placeholder: "配件分类代码", class: "form-control" %>
				</div>
				<%= f.submit "确定修改", class: "btn btn-primary btn-block" %>
			<% end %>
			<br/><a href="<%= partcategorys_path %>">>>返回配件分类列表</a>
		</div>
	</div>


</div>
</div>



