<% provide :c_active, "asset" %>
<% provide :pre_title, "配件分类" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">配件分类</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
          <div  class="alert alert-<%= name %>"><%= msg %></div>
        <% end %>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
        系统共有 <b><%= @partcategorys.count %></b> 种配件<a href="<%= new_partcategory_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;">添加配件分类</a>
      </div>
      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
            <tr><th>类型代码</th><th>配件类型</th><th>配件类型代码</th><th>配件数量</th><th>可用数量</th><th>父分类</th><th>操作</th></tr>
          </thead>
          <tbody>
            <% @partcategorys.each do |partcategory| %>
              <tr>
                <td><%= partcategory.pgcode %></td>
                <td><%= link_to partcategory.name, partcategory_path(partcategory) %></td>
                <td class="partcategorycode" iid="<%= partcategory.id %>"><p><%= partcategory.partcategorycode %></p></td>


                <% partcategoryparts = Part.joins("INNER JOIN partcategories ON parts.partcategory_id = partcategories.id AND partcategories.pgcode like '#{partcategory.pgcode}%'") %>
                <td><%= partcategoryparts.count %></td>
                <% restpartcount = 0 %>
                <% partcategoryparts.each{ |part| restpartcount = restpartcount + 1  if part.is_assign == 0 } %>
                <td><%= restpartcount %></td>

                <td><%= partcategory.mpartcategory.nil? ? '无' : partcategory.mpartcategory.name %></td>
                <td><%= link_to '修改', edit_partcategory_path(partcategory) %></td>
                <td><%= link_to '删除', partcategory_path(partcategory), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @partcategorys, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
      </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $(".partcategorycode").dblclick( function () {
        toReplace(this)
      });
    });
    toReplace = function(pElement) {
      // 创建一个input元素
      var invar = $("<input type='text' class='form-control' name=price' value='' style='width: 100px;'>");
      // 把obj里面的元素以及文本内容赋值给新建的inputElement

      invar.val($(pElement).find("p").html());
      $(pElement).find("p").replaceWith(invar);
      invar.focus();
      invar.focusout(function() {
        var invar = $("<p></p>");
        invar.html($(this).val());
        $(this).replaceWith(invar);
        $.ajax({
            type : "POST",
            url : "<%= editpartcategorycode_partcategorys_path %>",
            data : {
                'id':$(pElement).attr('iid'),
                'partcategorycode':$(this).val()
            },
            dataType : "JSON",
            success : function(result){
            }
        });
      });
  }
  </script>
