<% provide :c_active, "statistics" %>
<% provide :pre_title, "统计" %>
<% @user_model_config_index = current_user.user_model_configs.where(model: "custom_statistics").first  %>
<div class="container" style="padding-top:70px;">
  <%= render "shared/page_header", second_url: statistics_path, second_title: "统计", third_title: "员工设备统计" %>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="alert alert-info">当前领导:<%= @user.username%>&nbsp;&nbsp;下属员工:<%= @understrappers.count %>人</div>
      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
            <tr><th><%= t("name")%></th><th><%= t("devicecount")%></th><th>设备列表</th></tr>
          </thead>
          <tbody>
            <% devicecount = 0 %>
            <% @understrappers.each do |user| %>
              <tr>
                <td><%= link_to user.username, statistics_user_statistic_path(user) %></td>
                <td>
                  <%if @user_model_config_index.fields.present? %>
                    <%= user.statistic_devices(@user_model_config_index.fields).count %>
                    <% devicecount += user.statistic_devices(@user_model_config_index.fields).count %>
                  <% elsif %>
                    <%= user.statistic_devices([1,2]).count %>
                    <% devicecount += user.statistic_devices([1,2]).count %>
                  <% end %>
                </td>
                <td>
                  <%if @user_model_config_index.fields.present? %>
                    <% user.statistic_devices(@user_model_config_index.fields).each do |device| %>
                      <%= device_assetno device.id %><%= "(员工借用)" if device.status == 3 %><%= "(接设备使用)" if device.status == 4 %>&nbsp;&nbsp;
                    <% end %>
                  <% elsif %>
                    <% user.statistic_devices([1,2]).each do |device| %>
                      <%= device_assetno device.id %><%= "(员工借用)" if device.status == 3 %><%= "(接设备使用)" if device.status == 4 %>&nbsp;&nbsp;
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr><td>总计</td><td><%= devicecount %></td><td></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
