<%= form_for user do |u| %>
  <div id="error-info" class="alert alert-danger" style="display: none;"></div>
  <div class="form-group">
    <label for="department_id">员工部门:</label>
    <%= u.select :department_id, @departments.collect { |d| [ parentdepartment_name(d.id), d.id ] }, {include_blank: true}, {placeholder: "选择部门", class: "form-control"} %>
  </div>
  <div class="form-group">
    <label>姓名:</label><br>
    <%= u.text_field  :username, placeholder: "员工姓名", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>邮箱:</label><br>
    <%= u.text_field  :email, placeholder: "员工邮箱", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>职位:</label><br>
    <%= u.text_field :position, placeholder: "员工职位", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>所属角色:</label><br>
    <% @roles.each do |role| %>
      <label>
        <input name="roles[]" type="checkbox" value="<%= role.id %>" <%= @my_roles.include?(role) ? "checked=checked" : '' %> />
        <%= role.role_name %>
      </label>
    <% end %>
  </div>
  <%= u.submit  "确定修改", class: "btn btn-primary btn-block" %>
<% end %>


<script>
  $('#user_username').change(function () {
    var chinaName = $('#user_username').val();
    if (chinaName.length == 4) {
      var last_name = chinaName.substr(0,2)
      var first_name = chinaName.substr(2)
    }else {
      var last_name = chinaName.substr(0,1)
      var first_name = chinaName.substr(1)
    }
    //获取全写拼音（调用js中方法）
    var en_last_name = pinyin.getFullChars(last_name);
    var en_first_name = pinyin.getFullChars(first_name);

    $('#user_email').val(en_first_name + '.' + en_last_name + '@abcam.com');
  });
</script>


<script>
  $(function(){
    $('#user_department_id').searchableSelect();
  });
</script>
<!-- 样式 -->
<style>
  label {
    display: inline-block;
    width: 240px;
    padding: 2px 5px;
  }
  label input {
    margin-right: 5px;
  }
</style>
