<% provide :c_active, "user" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>




<div class="mainer" style="margin-top: 0; padding-top: 70px;">
    <div class="container-fluid">
        <div class="col-md-10 col-lg-10 col-center-block content-wrap">
            <div id="content">
                <!-- 用户信息设置 -->
                <div class="col-md-8 profile-setting">
                    <div class="boxed-group">
                        <%= content_tag :h3, t("userinfo") %>
                        <div class="boxed-group-inner">
                            <%= simple_form_for @user, url: user_path(@user), method: :patch, remote: true do |f| %>
                            <div class="form-group">
                                <%= content_tag :span, t("name")+":" %>
                                <%= f.input_field :username, class: "form-control form-input-normal" %>
                            </div>
                            <div class="form-group">
                                <%= content_tag :span, t("timecardcode")+":" %>
                                <%= f.input_field :attendance, class: "form-control form-input-normal" %>
                            </div>
                            <div class="form-group">
                                <%= content_tag :span, t("email")+":" %>
                                <%= f.input_field :email, disabled: true, class: "form-control form-input-normal" %>
                            </div>



                            <div class="form-group">
                                <%= f.submit t("updateinfo"), class: "btn btn-primary submit" %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- 头像与密码设置 -->
                <div class="col-md-4 account-setting">
                    <div class="boxed-group">
                        <%= simple_form_for @user, url: upload_avatar_user_path(@user), method: :post, html:{ multipart: true } do |f| %>
                        <div class="boxed-group-inner boxed-group-round-border">
                            <%= image_tag(@user.avatar, alt:"#{@user.avatar}", class: "avatar-md") %>
                            <div class="avatar-upload">
                                <%= content_tag :span, t("uploadavatar"), id: "upload-avatar-btn", class: "btn avatar-btn" %>
                                <%= f.input_field :avatar, as: :file, accept:  'image/jpg,image/jpeg,image/png,image/gif', class: "input-hidden", id: "upload-avatar-input", style: 'display: none;' %>
                            </div>
                            <%= f.submit '', style: "visibility: hidden;", id: "avatar-submit" %>
                        </div>
                        <% end %>
                    </div>
                    <div class="boxed-group" id= "edit-password">
                        <%= content_tag :h3, t("editps") %>
                        <div class="boxed-group-inner boxed-group-round-border">
                            <%= simple_form_for @user, url: updatepw_user_path(@user), method: :post, remote: true do |f| %>
                            <div class="form-error-container">
                                <%= render 'shared/form_error_messages', object: f.object %>
                            </div>
                            <div class="form-group">
                                <%= content_tag :span, t("password")+":" %>
                                <%= f.password_field :password, class: "form-control form-input-normal" %>
                            </div>
                            <div class="form-group">
                                <%= f.submit t("updateps"), class: "btn btn-primary submit" %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 profile-setting" style="padding-top: 30px;">
                    <div class="boxed-group">
                        <%= content_tag :h3, t("userdevicelist") %>
                        <div class="boxed-group-inner">
                            <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr><th><%= t("devicecode") %></th><th><%= t("devicename") %></th><th><%= t("devicecg") %></th><th><%= t("assigntype") %></th><th><%= t("assigntime") %></th><th><%= t("reverttime") %></th><th><%= t("operation") %></th></tr>
                                  </thead>
                                  <tbody>
                                      <% @devices.each do |device| %>
                                          <tr>
                                            <td><%= device.asset_code %></td>
                                            <td><%= device.asset_name %></td>
                                            <td><%= device_type device.decategory_id %></td>
                                            <td><%= device_status device.status %></td>
                                            <td><%= device.assign_time %></td>
                                            <td><%= device_timeleft device.borrow_timeleft %></td>
                                            <td><%= link_to t('edit'), edit_device_path(device) %></td>
                                            <td><%= link_to t('delete'), device_path(device), method: :delete, data: { confirm: t('areyousure') } %></td>
                                          </tr>
                                      <% end %>
                                  </tbody>
                              </table>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary submit" style="color: #fff; "><%= t('adddevice') %></a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= t("devicwassign")%></h4>
      </div>
        <%= form_tag  assigndevise_user_path do %>
          <div class="modal-body" style="padding: 15px;">

              
              <div class="form-group">
                <label for="assigntype"> <%= t("assigntype")%>:</label>
                <select class="form-control" name="device[assigntype]" id="assigntype" onchange="create_borrowtime(this)">
                  <option value="0">请选择设备分配类型</option>
                  <option value="1">办公使用</option>
                  <option value="4">借用</option>
                </select>
              </div>
              <br>
              <div class="form-group" id="borrowtime_div" style="display: none;">
                  <label for="borrowtime"> <%= t("borrowtime")%>:</label>
                  <input type="number" name="device[borrowtime]" class="form-control" id="borrowtime" placeholder="请输入借用时间,单位:天数">
              </div>
              <br id="borrowtime_br" style="display: none;">

              <div class="form-group">
                <label for="decategory"> <%= t("devicecg")%>:</label>
                <select class="form-control" name="device[decategory]" id="decategory" onchange="show_position(this)">
                  <option value="">请选择设备分类</option>
                  <% @decategorys.each do |decategory| %>
                    <option value="<%= decategory.id %>"><%= decategory.name %></option>
                  <% end %>
                </select>
              </div>
              <br>
              <div class="form-group">
                <label for="department_id"> <%= t("device")%>:</label>
                <select id="ajaxdevice" class="form-control" name="device[department_id]" id="department_id">
                  <option value="">请选择设备</option>
                </select>
              </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">提交更改</button>
          </div>
        <% end %>
    </div>
  </div>
</div>



<script>

    function show_position(ele) {
        $.ajax({
            type : "GET",
            url : "<%= ajaxgetdevice_path %>",
            data : {
                'decategoryid':$(ele).val()
            },
            dataType : "JSON",
            success : function(result){
                if(!result.status){
                    var str = '<option value ="0">请选择</option>';
                    $.each(result,function (i,value) {
                      str += '<option value ="'+value.id+'">'+value.asset_code+'</option>';
                    });
                    $('#ajaxdevice').html(str);
                }else{
                    if(result.msg){
                        alert(result.msg);
                    }
                }
            }
        });
    }

    function create_borrowtime(ele) {
        if ($(ele).val() == 4) {
            $("#borrowtime_div").css("display","block");
            $("#borrowtime_br").css("display","block");
        }else{
            $("#borrowtime_div").css("display","none");
            $("#borrowtime_br").css("display","none");
        }
    }
</script>











<%= javascript_include_tag 'uploader' %>

<script>
    $("#upload-avatar-input").on("change", function(){
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 1) {
            <% flash.now[:warning] = t "flash.warning.avatar_too_big", size: 1 %>
            $(".mainer").eq(0).before("<%= j render(partial: 'shared/flash_messages_inner') %>");
            <% flash.delete :warning %>
        } else {
            // 提交图片
            $("#avatar-submit").click();
        }
    });
</script>
