<% provide :c_active, "user" %>
<% provide :pre_title, "修改员工信息" %>

<div class="container" style="padding-top:70px;">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="/">主页</a></li>
                <li><a href="<%= users_path %>">员工管理</a></li>
                <li class="active">修改员工信息</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 center-block" style="float: none;">
            <% if @user && @user.errors.any? %>
                <div id="error-info" class="alert alert-danger">
                    <div class="form-error">
                        <span class="form-error-field"><%= @user.errors.full_messages[0] %></span>
                        <span class="glyphicon glyphicon-info-sign icon"></span>
                    </div>
                </div>
            <% end %>
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">修改员工信息</h3></div>
                <div class="panel-body">
                    <%= form_for @user, url: user_path do |u| %>
                        <div id="error-info" class="alert alert-danger" style="display: none;"></div>
                        <div class="form-group">
                            <label for="name">员工部门:</label>
                            <select class="form-control" name="user[department_id]">
                                <% @departments.each do |department| %>
                                    <% if  @user.department_id == department.id %>
                                      <% selected = 'selected="selected"' %>
                                    <% end %>
                                <option value="<%= department.id %>" <%= selected %> ><%= department.department_name %></option>
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>姓名:</label><br>
                            <%= u.text_field  :username, placeholder: "员工姓名", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <label>邮箱:</label><br>
                            <%= u.text_field :email, placeholder: "员工邮箱", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <label>编号:</label><br>
                            <%= u.text_field :attendance, placeholder: "员工编号", class: "form-control" %>
                        </div>
                        <%= u.submit  "确定修改", class: "btn btn-primary btn-block" %>
                    <% end %>
                    <br/><a href="<%= users_path %>">>>返回用户列表</a>
                </div>
            </div>
        </div>
    </div>
</div>



