<% provide :c_active, "user" %>
<% provide :pre_title, "员工" %>
  <div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">员工管理</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
          <div  class="alert alert-<%= name %>"><%= msg %></div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
      	系统共有 <b><%= @users.count %></b> 位用户
        <a href="<%= new_user_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;">添加新员工</a>
        <a href="<%= users_path(format: :xlsx) %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;margin-right: 10px;">导出</a>
        <a href="javascript:void(0);" class="btn btn-primary" id="upload-users-btn" style="position: relative;top: -8px;float: right;margin-right: 10px;">导入</a>

        <%= form_for :user_list, url: upload_user_list_users_path, method: :post, html:{ multipart: true,style: "display: none" } do |f| %>
          <%= f.file_field :user_list, class: "input-hidden", id: "upload-users-input", style: 'display: none;' %>
          <%= f.submit '', style: "visibility: hidden;", id: "upload-users-submit" %>
        <% end %>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= search_form_for @search,class: "navbar-form navbar-left" do |f| %>
            <div class="form-group">
              <%= f.text_field :username_cont, class: "form-control", placeholder: "姓名", style: "width: 150px;" %>
            </div>
            <div class="form-group">
              <%= f.text_field :email_cont, class: "form-control", placeholder: "邮箱", style: "width: 150px;" %>
            </div>
            <div class="form-group">
              <%= f.select :department_id_eq_any, @departments.collect { |d| [ parentdepartment_name(d.id), d.id ] }, {include_blank: true}, {placeholder: "供应商名称", class: "form-control pull_select"} %>
            </div>
            <div class="form-group">
              <%= f.select :is_quit_eq_any, [["在职",0], ["离职",1]], {include_blank: true}, {placeholder: "在离职", class: "form-control pull_select"} %>
            </div>
            <div class="input-group controls input-append date form_datetime col-sm-3" data-date="2017-12-7T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
              <%= f.text_field :created_at_gteq, class: "form-control", placeholder: "入职时间", style: "width: 180px;" %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <%= f.submit "搜索", class: 'btn btn-default', style: "float: right;" %>
          <% end %>
        </div>
      </nav>
      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
              <tr><th><%= t("name")%></th><th><%= t("email")%></th><th><%= t("department")%></th><th>在职情况</th><th><%= t("devicecount") %></th><th><%= t("operation") %></th></tr>
          </thead>
          <tbody>
    			  <% @users.each do |user| %>
    			    <tr class="<%=  user.is_quit == 1 ? 'danger' : '' %>">
    			      <td><%= link_to user.username, user_path(user) %></td>
    			      <td><%= user.email %></td>
                <td><%= link_to user.department.department_name, department_path(user.department) %></td>
                <td><%= user.is_quit == 1 ? "离职" : "在职" %></td>
                <td><%= user.devices.count %></td>
    			      <td><%= link_to t("edit"), edit_user_path(user) %></td>
    			      <td><%= link_to t("delete"), user_path(user), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
    			    </tr>
    			  <% end %>
          </tbody>
        </table>
        <!-- <%#= render "lists", users: @users %> -->
      </div>
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    </div>
  </div>
</div>

<script>
	$(function(){
	  $('select').searchableSelect();
	});
</script>
<script type="text/javascript">
  $('.form_datetime').datetimepicker({
      format: 'yyyy-mm-dd',
      minView: "month",
      language: 'zh-CN',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
  });
</script>
<!-- 上传用户的js方法 -->
<script>
  $("#upload-users-btn").on("click", function(){
    $("#upload-users-input").click()
  });
    $("#upload-users-input").on("change", function(){
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 10) {
        alert("上传文件过大");
      } else {
          // 提交图片
        $("#upload-users-submit").click();
      }
    });
</script>
