<% provide :c_active, "user" %>

  <div class="container" style="padding-top:70px;">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">


      <div class="alert alert-info">
      	系统共有 <b><%= @users.count %></b> 位用户
      </div>
      
      <form class="form-inline" role="form" action="/users/search">
        <div class="form-group">
          <label for="name" class="control-label">名字:&nbsp;</label>
          <input type="text" name="user[username]" class="form-control" id="name" placeholder="请输入名称">
        </div>
i        <div class="form-group">
          <label for="email" class="control-label">邮箱:&nbsp;</label>
          <input type="text" name="user[email]" class="form-control" id="email" placeholder="请输入邮箱">
        </div>
        
        <label for="time" class="control-label">用户添加时间:&nbsp;</label>
        <div class="input-group controls input-append date form_datetime col-sm-3" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
          <input type="text" class="form-control" size="16" readonly name="user[created_at]">
          <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <script type="text/javascript">
          $('.form_datetime').datetimepicker({
              format: 'yyyy/mm/dd hh:mm:ss',
              language: 'zh-CN',
              weekStart: 1,
              todayBtn:  1,
              autoclose: 1,
              todayHighlight: 1,
              startView: 2,
              forceParse: 0,
              showMeridian: 1
          });
        </script>

        <div class="form-group">
          <label for="name"> 部门:</label>
          <select class="form-control" name=user[department]>
            <% @departments.each do |department| %>
              <option value="<%= department.department_name %>"><%= department.department_name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </form>


      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
              <tr><th>头像</th><th>ID</th><th>用户名</th><th>邮箱</th><th>设备数量</th><th>操作</th></tr>
          </thead>
          <tbody>

    			  <% @users.each do |user| %>
    			    <tr>
			          <td><%= image_tag(user.avatar, alt:"milog", class: "logo", size: "30", style: "border-radius: 100%;")%></td>
    			      <td><%= link_to user.id, edit_user_path(user) %></td>
    			      <td><%= user.username %></td>
    			      <td><%= user.email %></td>
                <td><%= user.devices.count %></td>
    			      <td><%= link_to '修改', edit_user_path(user) %></td>
    			      <td><%= link_to '删除', user_path(user), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
    			    </tr>
    			  <% end %>
          
          </tbody>
        </table>
      </div>
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    </div>
  </div>
