<% provide :c_active, "user" %>
<% provide :pre_title, "员工" %>
  <div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">员工管理</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
          <div  class="alert alert-<%= name %>"><%= msg %></div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
      	系统共有 <b><%= @users.count %></b> 位用户<a href="<%= new_user_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;">添加新员工</a>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" role="search" action="/users/search">
            <div class="form-group">
              <label for="name" class="control-label"><%= t("name")%>:&nbsp;</label>
              <input type="text" name="user[username]" class="form-control" id="name" placeholder="请输入名称" style="width: 150px;" value="<%=  @username %>">
            </div>
            <div class="form-group">
              <label for="email" class="control-label"><%= t("email")%>:&nbsp;</label>
              <input type="text" name="user[email]" class="form-control" id="email" placeholder="请输入邮箱"  style="width: 150px;" value="<%=  @email %>">
            </div>
            <div class="form-group">
              <label for="name"><%= t("department")%>:</label>
              <select class="form-control" name=user[department_id]>
                <option value=""></option>
                <% @departments.each do |department| %>
                  <% if  @department_id.to_i == department.id %>
                    <% selected = 'selected="selected"' %>
                  <% end %>
                  <option value="<%= department.id %>" <%= selected %> ><%= parentdepartment_name department.id %></option>
                <% end %>
              </select>
            </div>
            <label for="time" class="control-label">入职时间:&nbsp;</label>
            <div class="input-group controls input-append date form_datetime col-sm-3" data-date="2017-12-7T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
            <input type="text" class="form-control" size="16" readonly name="user[created_at]" value="<%= @rz %>" placeholder="搜索范围:前后一个月" value="<%=  @created_at %>" style="width: 180px;">
            <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            <script type="text/javascript">
              $('.form_datetime').datetimepicker({
                  format: 'yyyy-mm-dd',
                  minView: "month",
                  language: 'zh-CN',
                  weekStart: 1,
                  todayBtn:  1,
                  autoclose: 1,
                  todayHighlight: 1,
                  startView: 2,
                  forceParse: 0,
                  showMeridian: 1
              });
            </script>
            <button type="submit" class="btn btn-default" style="float: right;">搜索</button>
          </form>
        </div>
      </nav>
      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
              <tr><th><%= t("name")%></th><th><%= t("email")%></th><th>考勤号</th><th><%= t("department")%></th><th><%= t("devicecount") %></th><th><%= t("operation") %></th></tr>
          </thead>
          <tbody>
    			  <% @users.each do |user| %>
    			    <tr class="<%=  user.is_quit == 1 ? 'danger' : '' %>">
    			      <td><%= link_to user.username, user_path(user) %></td>
    			      <td><%= user.email %></td>
                <td><%= user.attendance %></td>
                <td><%= link_to user.department.department_name, department_path(user.department) %></td>
                <td><%= user.devices.count %></td>
    			      <td><%= link_to t("edit"), edit_user_path(user) %></td>
    			      <td><%= link_to t("delete"), user_path(user), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
    			    </tr>
    			  <% end %>
          </tbody>
        </table>
      </div>
      <!-- <ul class="pagination" style="float: right;"><li><%#= link_to "导出", users_path(format: "csv") %></li></ul> -->
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    </div>
  </div>
</div>



<!-- <%#= form_tag  users_upload_path, method: :post,  multipart: true  do %>


    <div class="form-group">
      <label>用户批量上传:</label><br>
      <textarea placeholder="用户" class="form-control" name="users" id="device_asset_details"></textarea>
    </div>

    <div class="form-group">
        <%#= submit_tag "上传", class: "btn btn-primary submit" %>
    </div>
<%# end %> -->
<script>
	$(function(){
	  $('select').searchableSelect();
	});
</script>
