<% provide :c_active, "user" %>
<% provide :pre_title, "员工详情" %>

<div class="container" style="margin-top: 0; padding-top: 70px;">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="/">主页</a></li>
          <li><a href="<%= users_path %>">员工管理</a></li>
          <li class="active">员工详情</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
          <div  class="alert alert-<%= name %>"><%= msg %></div>
        <% end %>
        <div id="error-infoassign" class="alert alert-danger" style="display: none;"></div>
      </div>
    </div>
    <div class="row">
        <!-- 用户信息设置 -->
        <div class="col-sm-9 col-md-9">
            <div class="panel <%= @user.is_quit == 1 ? "panel-danger" : "panel-info" %>">
                <div class="panel-heading"><h3 class="panel-title">用户资料<%= "----员工已离职" if @user.is_quit == 1 %></h3></div>
                <div class="panel-body">
                    <%= form_for @user, url: showupdate_user_path(@user), method: :post, remote: true do |f| %>
                    <div class="form-group">
                        <label for="name">名字:</label>
                        <%= f.text_field :username, class: "form-control form-input-normal" %>
                    </div>
                    <div class="form-group">
                        <label for="name">考勤号:</label>
                        <%= f.text_field :attendance, class: "form-control form-input-normal" %>
                    </div>
                    <div class="form-group">
                        <label for="name">职位:</label>
                        <%= f.text_field :position, class: "form-control form-input-normal" %>
                    </div>
                    <div class="form-group">
                        <label for="name">邮箱:</label>
                        <%= f.text_field :email, disabled: true, class: "form-control form-input-normal" %>
                    </div>
                    <div class="form-group">
                        <label for="name">部门:</label>
                        <select disabled="disabled" class="form-control" name="user[department_id]">
                            <% @departments.each do |department| %>
                                <% if  @user.department_id == department.id %>
                                  <% selected = 'selected="selected"' %>
                                <% end %>
                            <option value="<%= department.id %>" <%= selected %> ><%= department.department_name %></option>
                            <% end %>
                        </select>
                    </div>

                    <% if @user.is_quit == 0 %>
                      <div class="form-group">
                          <%= f.submit t("updateinfo"), class: "btn btn-primary submit" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            </div>
        </div>
        <!-- 分配耗材 -->
        <% if @user.is_quit == 0 %>
          <div class="col-sm-3 col-md-3">
              <div class="panel <%= @user.is_quit == 1 ? "panel-danger" : "panel-info" %>">
                  <div class="panel-heading"><h3 class="panel-title">分配耗材</h3></div>
                  <div class="panel-body">
                      <a href="#" data-toggle="modal" data-target="#consumableModal" class="btn btn-primary submit" >分配</a>
                  </div>
              </div>
              <div class="panel panel-info">
                  <div class="panel-heading"><h3 class="panel-title">员工离职</h3></div>
                  <div class="panel-body">
                      <%= link_to '离职', quit_user_path(@user), class: "btn btn-primary submit", data: { confirm: '确定办理离职吗?员工离职前请收回所有设备' } %>
                  </div>
              </div>
          </div>
        <% end %>
        <!-- 用户所拥有设备列表 -->
        <div class="col-sm-12 col-md-12" style="padding-top: 30px;">
              <div class="panel <%= @user.is_quit == 1 ? "panel-danger" : "panel-info" %>">
                <div class="panel-heading"><h3 class="panel-title">用户设备列表</h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr><th><%= t("devicecode") %></th><th><%= t("devicename") %></th><th><%= t("devicecg") %></th><th><%= t("assigntype") %></th><th><%= t("assigntime") %></th><th><%= t("reverttime") %></th><th><%= t("operation") %></th></tr>
                          </thead>
                          <tbody>
                              <% @devices.each do |device| %>
                                  <tr>
                                    <td><%= device_assetno device.id %></td>
                                    <td><%= device.asset_name %></td>
                                    <td><%= device_type device.decategory_id %></td>
                                    <td><%= device_status device.status %></td>
                                    <td><%= device.assign_time.try(:strftime, "%Y-%m-%d") %></td>
                                    <td><%= device_timeleft device.borrow_timeleft %></td>
                                    <td><%= link_to '收回设备', recycle_device_path(device), data: { confirm: '确定收回设备吗?' } %></td>
                                    <td><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%= device.id %>">展开(<%= device.parts.count %>)</a></td>
                                  </tr>
                              <% end %>
                          </tbody>
                      </table>
                      <!-- 设备拥有配件列表 -->
                      <% @devices.each do |device| %>
                        <% if device.parts.blank? %>
                        <% else %>
                          <div id="collapseOne<%= device.id %>" class="panel-collapse collapse">
                              <div class="panel panel-info">
                                <div class="panel-heading"><h3 class="panel-title"><%= device.asset_code %>配件列表</h3></div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                      <table class="table table-striped table-hover">
                                        <thead>
                                            <tr><th>配件编号</th><th>配件名</th><th>配件详情</th><th>类型</th><th>配件状态</th><th>收货时间</th></tr>
                                        </thead>
                                        <tbody>
                                        <% device.parts.each do |part| %>
                                            <tr>
                                              <td><%= link_to part.part_code, part_path(part) %></td>
                                              <td class="part_name" iid="<%= part.id %>"><p><%= part.part_name %></p></td>
                                              <td class="service_sn" iid="<%= part.id %>"><p><%= part.part_details %></p></td>
                                              <td class="asset_details" iid="<%= part.id %>"><p><%= part_type part.partcategory_id %></p></td>
                                              <td><%= part_status part.status %></td>
                                              <td><%= part.receive_date.try(:strftime, "%Y-%m-%d") %></td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                              </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <% if @user.is_quit == 0 %>
                      <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary submit" style="color: #fff;"><%= t('adddevice') %></a>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- 用户拥有授权列表 -->
        <div class="col-md-12 profile-setting" style="padding-top: 30px;">
            <div class="panel <%= @user.is_quit == 1 ? "panel-danger" : "panel-info" %>">
                <div class="panel-heading"><h3 class="panel-title">用户拥有授权列表</h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr><th>授权名</th><th>授权到期时间</th><th>分配时间</th></tr>
                          </thead>
                          <tbody>
                              <% @authorizations.each do |authorization| %>
                                  <tr>
                                    <td><%= link_to authorization.name, authorization_path(authorization) %></td>
                                    <td><%= authorization.end_date.try(:strftime, "%Y-%m-%d") %></td>
                                    <td><%= authorization.created_at.try(:strftime, "%Y-%m-%d") %></td>
                                  </tr>
                              <% end %>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- 耗材分配记录table -->
        <div class="col-md-12 profile-setting" style="padding-top: 30px;">
            <div class="panel <%= @user.is_quit == 1 ? "panel-danger" : "panel-info" %>">
                <div class="panel-heading"><h3 class="panel-title">耗材分配记录</h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr><th>耗材</th><th>备注</th><th>分配时间</th></tr>
                          </thead>
                          <tbody>
                              <% @consumablerecords.each do |consumablerecord| %>
                                  <tr>
                                    <td><%= consumable_name consumablerecord.consumable_id %></td>
                                    <td><%= consumablerecord.note %></td>
                                    <td><%= consumablerecord.created_at.try(:strftime, "%Y-%m-%d") %></td>
                                  </tr>
                              <% end %>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 设备分配记录table -->
        <div class="col-md-12 profile-setting" style="padding-top: 30px;">
            <div class="panel <%= @user.is_quit == 1 ? "panel-danger" : "panel-info" %>">
                <div class="panel-heading"><h3 class="panel-title">设备分配记录</h3></div>
                <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr><th>设备名</th><th>设备编号</th><th>备注</th><th>操作时间</th></tr>
                          </thead>
                          <tbody>
                              <% @devicerecords.each do |devicerecord| %>
                                  <tr>
                                    <td><%= device_name devicerecord.device_id %></td>
                                    <td><%= device_assetno devicerecord.device_id %></td>
                                    <td><%= devicerecord.note %></td>
                                    <td><%= devicerecord.created_at.try(:strftime, "%Y-%m-%d") %></td>
                                  </tr>
                              <% end %>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 设备分配弹框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= t("devicwassign")%></h4>
      </div>
        <%= form_tag  assigndevise_user_path do %>
          <div class="modal-body" style="padding: 15px;">
              <div class="form-group">
                <label for="assigntype"> <%= t("assigntype")%>:</label>
                <select class="form-control" name="device[assigntype]" id="assigntype" onchange="create_borrowtime(this)">
                  <option value="0">请选择设备分配类型</option>
                  <option value="2">办公使用</option>
                  <option value="5">借用</option>
                  <option value="7">报废借用</option>
                </select>
              </div>
              <br>
              <div class="form-group" id="borrowtime_div" style="display: none;">
                  <label for="borrowtime"> 借用时间:</label>
                  <input type="number" name="device[borrowtime]" class="form-control" id="borrowtime" placeholder="请输入借用时间,单位:天数">
              </div>
              <br id="borrowtime_br" style="display: none;">
              <div class="form-group">
                <label for="decategory"> <%= t("devicecg")%>:</label>
                <select class="form-control" name="device[decategory]" id="decategory" onchange="show_position(this)">
                  <option value="">请选择设备分类</option>
                  <% @decategorys.each do |decategory| %>
                    <option value="<%= decategory.id %>"><%= parentdecategory_name decategory.id %></option>
                  <% end %>
                </select>
              </div>
              <br>
              <div class="form-group">
                <label for="device_id"> <%= t("device")%>:</label>
                <select id="ajaxdevice" class="form-control" name="device[device_id]" id="device_id">
                  <option value="">请选择设备</option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">提交更改</button>
          </div>
        <% end %>
    </div>
  </div>
</div>


<!-- 耗材分配弹框 -->
<div class="modal fade" id="consumableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">耗材分配</h4>
      </div>
      <%= form_tag  assignconsumable_user_path do %>
        <div class="modal-body" style="padding: 15px;">
            <div class="form-group">
              <label for="consumable"> 耗材(每次只能分配一件):</label>
              <select class="form-control" name="consumable_id" id="consumable">
                <option value="">请选择耗材</option>
                <% @consumables.each do |consumable| %>
                  <option value="<%= consumable.id %>"><%= consumable.name %></option>
                <% end %>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary">分配</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- 设备分配Ajax获得设备 -->
<script>
    function show_position(ele) {
        $.ajax({
            type : "GET",
            url : "<%= ajaxgetdevice_path %>",
            data : {
                'decategoryid':$(ele).val(),
                'status':$('#assigntype').val()
            },
            dataType : "JSON",
            success : function(result){
                if(!result.status){
                    var str = '<option value ="">请选择设备</option>';
                    $.each(result,function (i,value) {
                      str += '<option value ="'+value.id+'">'+value.asset_code+'----'+value.asset_name+'</option>';
                    });
                    $('#ajaxdevice').html(str);
                    $('#ajaxdevice').searchableSelect();
                }else{
                    if(result.msg){
                        alert(result.msg);
                    }
                }
            }
        });
    }
    function create_borrowtime(ele) {
        if ($(ele).val() == 5 || $(ele).val() == 7) {
            $("#borrowtime_div").css("display","block");
            $("#borrowtime_br").css("display","block");
        }else{
            $("#borrowtime_div").css("display","none");
            $("#borrowtime_br").css("display","none");
        }
        // $('#decategory').val('');
        // $('#ajaxdevice').val('');
    }
</script>



<!-- 耗材分配弹框中的下拉框.....和.....分配设备的下拉框 -->
<script>
  $(function(){
    $('#consumable').searchableSelect();
    $('#decategory').searchableSelect();
  });
</script>
