<% provide :c_active, "department" %>
<% provide :pre_title, "部门" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">部门</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <% flash.each do |name, msg| %>
        <div  class="alert alert-<%= name %>"><%= msg %></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
      	系统共有 <b><%= @departments.count %></b> 个部门<a href="<%= new_department_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;">添加部门</a>
      </div>
      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
              <tr><th>类别代码</th><th><%= t("departmentname")%></th><th><%= t("departmentmanager")%></th><th>上级部门</th><th><%= t("renshu")%></th><th><%= t("operation")%></th></tr>
          </thead>
          <tbody>
    			  <% @departments.each do |department| %>
    			    <tr>
                <td><%= department.pgcode %></td>
    			      <td><%= link_to department.department_name, department_path(department) %></td>
    			      <td><%= department.manager_name %></td>
                <td><%= department.higher.blank? ? '无' : department.higher.department_name %></td>
                <td><%= department.users.count %></td>
    			      <td><%= link_to t('edit'), edit_department_path(department) %></td>
    			      <td><%= link_to t('delete'), department_path(department), method: :delete, data: { confirm: t('areyousure') } %></td>
    			    </tr>
    			  <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    </div>
  </div>
</div>
