<% provide :c_active, "department" %>

  <div class="container" style="padding-top:70px;">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">


      <div class="alert alert-info">
      	系统共有 <b><%= @departments.count %></b> 个部门<a href="<%= new_department_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;">添加部门</a>
      </div>

    
      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
              <tr><th>ID</th><th>部门名称</th><th>部门经理</th><th>操作</th></tr>
          </thead>
          <tbody>

    			  <% @departments.each do |department| %>
    			    <tr>
    			      <td><%= department.id %></td>
    			      <td><%= department.department_name %></td>
    			      <td><%= department.manager_name %></td>
    			      <td><%= link_to '修改', edit_department_path(department) %></td>
    			      <td><%= link_to '删除', department_path(department), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
    			    </tr>
    			  <% end %>
          
          </tbody>
        </table>
      </div>
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    </div>
  </div>
