<% provide :c_active, "asset" %>
<% provide :pre_title, "设备分类" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li class="active">设备分类</li>
      </ul>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <% flash.each do |name, msg| %>
              <div  class="alert alert-<%= name %>"><%= msg %></div>
          <% end %>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
        系统共有 <b><%= @decategorys.count %></b> 种设备<a href="<%= new_decategory_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;">添加设备分类</a>
      </div>
      <div class="table-responsive" style="padding-top: 20px;">
        <table class="table table-striped">
          <thead>
              <tr><th>类型代码</th><th>设备类型</th><th>设备类型代码</th><th>设备数量</th><th>可用数量</th><th>父分类</th><th>操作</th></tr>
          </thead>
          <tbody>
            <% @decategorys.each do |decategory| %>
              <tr>
                <td><%= decategory.pgcode %></td>
                <td><%= link_to decategory.name, decategory_path(decategory) %></td>
                <td class="decategorycode" iid="<%= decategory.id %>"><p><%= decategory.decategorycode %></p></td>

                <% decategorydevices = Device.joins("INNER JOIN decategories ON devices.decategory_id = decategories.id AND decategories.pgcode like '#{decategory.pgcode}%'") %>
                <td><%= decategorydevices.count %></td>
                <% restdevicecount = 0 %>
                <% decategorydevices.each{ |device| restdevicecount = restdevicecount + 1  if device.is_assign == 0 } %>
                <td><%= restdevicecount  %></td>



                <td><%= decategory.mdecategory.nil? ? '无' : decategory.mdecategory.name %></td>
                <td><%= link_to '修改', edit_decategory_path(decategory) %></td>
                <td><%= link_to '删除', decategory_path(decategory), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @decategorys, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
      $(".decategorycode").dblclick( function () {
        toReplace(this)
      });
    });
    toReplace = function(pElement) {
      // 创建一个input元素
      var invar = $("<input type='text' class='form-control' name=price' value='' style='width: 100px;'>");
      // 把obj里面的元素以及文本内容赋值给新建的inputElement
      invar.val($(pElement).find("p").html());
      $(pElement).find("p").replaceWith(invar);
      invar.focus();
      invar.focusout(function() {
        var invar = $("<p></p>");
        invar.html($(this).val());
        $(this).replaceWith(invar);
        $.ajax({
            type : "POST",
            url : "<%= decategorys_editdecategorycode_path %>",
            data : {
                'id':$(pElement).attr('iid'),
                'decategorycode':$(this).val()
            },
            dataType : "JSON",
            success : function(result){
            }
        });
      });
  }
  </script>
