<% provide :c_active, "asset" %>

<div class="container" style="padding-top:70px;">
  <div class="col-sm-12 col-md-12 center-block" style="float: none;">


    <div class="alert alert-info">
    	系统共有 <b><%= @decategorys.count %></b> 种设备<a href="<%= new_decategory_path %>" class="btn btn-primary" style="position: relative;top: -8px;float: right;">添加设备分类</a>
    </div>

  
    <div class="table-responsive" style="padding-top: 20px;">
      <table class="table table-striped">
        <thead>
            <tr><th>ID</th><th>设备类型</th><th>设备类型代码</th><th>设备数量</th><th>父分类</th><th>操作</th></tr>
        </thead>
        <tbody>

  			  <% @decategorys.each do |decategory| %>
  			    <tr>
  			      <td><%= decategory.id %></td>
  			      <td><%= link_to decategory.name, decategory_path(decategory) %></td>
              <td class="decategorycode" iid="<%= decategory.id %>"><p><%= decategory.decategorycode %></p></td>
  			      <td><%= decategory.devices.count %></td>
              <td><%= decategory.mdecategory.nil? ? '无' : decategory.mdecategory.name %></td>
  			      <td><%= link_to '修改', edit_decategory_path(decategory) %></td>
  			      <td><%= link_to '删除', decategory_path(decategory), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
  			    </tr>
  			  <% end %>
        
        </tbody>
      </table>
    </div>
    <%= will_paginate @decategorys, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
      $(".decategorycode").dblclick( function () { 
        toReplace(this)  
      });
    });
    toReplace = function(pElement) { 
      // 创建一个input元素 
      var invar = $("<input type='text' class='form-control' name=price' value='' style='width: 100px;'>");
      // 把obj里面的元素以及文本内容赋值给新建的inputElement 
      
      invar.val($(pElement).find("p").html());
      $(pElement).find("p").replaceWith(invar);
      invar.focus();
      invar.focusout(function() {
        var invar = $("<p></p>");
        invar.html($(this).val());
        $(this).replaceWith(invar);
        $.ajax({
            type : "POST",
            url : "<%= decategorys_editdecategorycode_path %>",
            data : {
                'id':$(pElement).attr('iid'),
                'decategorycode':$(this).val()
            },
            dataType : "JSON",
            success : function(result){
            }
        });
      });
  } 
  </script>