<% provide :c_active, "asset" %>
<% provide :pre_title, "添加设备分类" %>
<div class="container" style="padding-top:70px;">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><a href="/">主页</a></li>
				<li><a href="<%= decategorys_path %>">设备</a></li>
				<li class="active">添加设备分类</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 center-block" style="float: none;">
			<div class="panel panel-primary">
				<div class="panel-heading"><h3 class="panel-title">添加设备分类</h3></div>
				<div class="panel-body">
					<% if @decategory && @decategory.errors.any? %>
						<div class="alert alert-info"><%= @decategory.errors.full_messages[0] %></div>
					<% end %>
					<%= form_for @decategory, url: decategorys_path do |f| %>
						<div class="form-group">
							<label>设备分类名:</label><br>
							<%= f.text_field :name, placeholder: "设备分类名", class: "form-control" %>
							<br>
							<label>设备分类代码:</label><br>
							<%= f.text_field :decategorycode, placeholder: "设备分类代码", class: "form-control" %>
						</div>
						<%= f.submit "确定添加", class: "btn btn-primary btn-block" %>
					<% end %>
					<br/><a href="<%= decategorys_path %>">>>返回设备分类列表</a>
				</div>
			</div>
		</div>
	</div>
</div>



