<% provide :c_active, "asset" %>
<div class="container" style="padding-top:70px;">
	<div class="row">
		<div class="col-sm-12 col-md-12 center-block" style="float: none;">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">设备分类详情</h3></div>
				<div class="panel-body">
					父分类:<%= @parentcategory.nil? ? '顶级分类' : @parentcategory.name %>
				</div>
			</div>
			
			<div class="panel panel-info">
	        	<div class="panel-heading"><h3 class="panel-title">设备子分类</h3></div>
	          	<ul class="list-group">
	          		<% if @childcategories.blank? %>
	          			<li class="list-group-item">没有子分类</li>
	          		<% else %>
	          			<% @childcategories.each do |category|%>
							<li class="list-group-item">设备子分类名:<%= category.name %>&nbsp;&nbsp;设备代码:&nbsp;<%= category.decategorycode %></li>
						<% end %>
	          		<% end %>
					
				</ul>
	      	</div>

			<div class="panel panel-primary">
				<div class="panel-heading"><h3 class="panel-title">添加子分类</h3></div>
				<div class="panel-body">
					<% if @decategory && @decategory.errors.any? %>
						<div class="alert alert-info"><%= @decategory.errors.full_messages[0] %></div>
					<% end %>

					<%= simple_form_for @decategorynew, url: decategorys_addchildcategory_path do |f| %>
						<%= hidden_field_tag(:parent_id, @decategory.id) %>

						<div class="form-group">
							<label>设备分类名:</label><br>
							<%= f.input_field :name, placeholder: "设备分类名", class: "form-control" %>
							<br>
							<label>设备分类代码:</label><br>
							<%= f.input_field :decategorycode, placeholder: "设备分类代码", class: "form-control" %>
						</div>
						<%= f.button :submit, "确定添加", class: "btn btn-primary btn-block" %>
					<% end %>
					<br/><a href="<%= decategorys_path %>">>>返回设备分类列表</a>
				</div>
			</div>


		</div>
	</div>
</div>




