<% provide :c_active, "asset" %>
<% provide :pre_title, "修改授权" %>
<div class="container" style="padding-top:70px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="/">主页</a></li>
        <li><a href="<%= authorizations_path %>">授权</a></li>
        <li class="active">修改授权</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <% if @authorization && @authorization.errors.any? %>
        <div id="error-info" class="alert alert-danger">
          <div class="form-error">
            <span class="form-error-field"><%= @authorization.errors.full_messages[0] %></span>
          </div>
        </div>
      <% end %>
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">修改授权</h3></div>
        <div class="panel-body">
          <%= form_for @authorization do |f| %>
            <div id="error-info" class="alert alert-danger" style="display: none;"></div>
                <div class="form-group">
              <label>授权名称:</label><br>
              <%= f.text_field :name, placeholder: "授权名称 ", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>授权编号:</label><br>
              <%= f.text_field :serial_number, placeholder: "授权编号", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>激活码:</label><br>
              <%= f.text_field :key, placeholder: "激活码", class: "form-control" %>
            </div>
            <div class="form-group">
              <label for="time" class="control-label">授权开始日期:&nbsp;</label>
              <div class="input-group controls input-append date form_datetime" data-date="2017-12-7T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                <input type="text" class="form-control" size="16" readonly name="authorization[begin_date]" placeholder="请选择授权开始日期"  value="<%= @authorization.begin_date.try(:strftime, "%Y-%m-%d") %>">
                <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
            <div class="form-group">
              <label for="time" class="control-label">授权截止日期:&nbsp;</label>
              <div class="input-group controls input-append date form_datetime" data-date="2017-12-7T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                <input type="text" class="form-control" size="16" readonly name="authorization[end_date]" placeholder="请选择授权截止日期,若果是终生可用就选择大一些" value="<%= @authorization.end_date.try(:strftime, "%Y-%m-%d") %>">
                <span class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
            <div class="form-group">
              <label>许可数量:</label><br>
              <%= f.text_field :amount, placeholder: "可授权数量", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>剩余可用数量:</label><br>
              <%= f.text_field :available_quantity, placeholder: "剩余可用数量", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>价格:</label><br>
              <%= f.text_field :price, placeholder: "价格", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>厂商:</label><br>
              <%= f.text_field :manufacturer, placeholder: "厂商", class: "form-control" %>
            </div>
            <div class="form-group">
              <label>联系方式:</label><br>
              <%= f.text_area :contact_information, placeholder: "联系方式", class: "form-control" %>
      	    </div>
      	    <div class="form-group">
              <label>备注</label><br>
      	      <%= f.text_area :note, placeholder: "备注", class: "form-control" %>
      	    </div>
            <%= f.submit "确定修改", class: "btn btn-primary btn-block" %>
          <% end %>
          <br/><a href="<%= devices_path %>">>>返回授权列表</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.form_datetime').datetimepicker({
      format: 'yyyy-mm-dd',
      minView: "month",
      language: 'zh-CN',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
  });
</script>
