<% provide :c_active, "asset" %>
<% provide :pre_title, "耗材详情" %>
  <div class="container" style="padding-top:70px;">
    <div class="col-sm-12 col-md-12 center-block" style="float: none;">
      <div class="alert alert-info">
        共有 <b><%= @consumablerecords.count %></b> 条记录
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
              <tr><th>员工</th><th>备注</th><th>分配时间</th></tr>
          </thead>
          <tbody>
              <% @consumablerecords.each do |consumablerecord| %>
                  <tr>
                    <td><%= user_name consumablerecord.user_id %></td>
                    <td><%= consumablerecord.note %></td>
                    <td><%= consumablerecord.created_at %></td>
                  </tr>
              <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @consumablerecords, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
      <br/><a href="<%= consumables_path %>">>>返回耗材列表</a>
    </div>
  </div>
