<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= title yield(:pre_title) %></title>
    <!-- <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'dateselect', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- 百度统计代码 -->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?43060cf1fb94932cac6cab9b9d77e72d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>

  </head>
  <body>

    <%= render 'shared/navigation' %>
    <%= yield %>

    <script>
      // $(function(){
      //   $('select').searchableSelect();
      // });
    </script>




  <div style="right:-230px;" class="contactusdiyou" is_show="0">
    <div class="hoverbtn">
      <span>使</span><span>用</span><span>帮</span><span>助</span>
    </div>
    <%= yield(:help) %>
    <%= "当前位置:" + @log.controller + "-----" + @log.action %>
  </div>

<style type="text/css">
.contactusdiyou {
  position: fixed;
  right: -230px;
  bottom: 0px;
  width: 230px;
  height: 100%;
  background: #009aff;
  z-index: 99999999999;
  margin-bottom:0px;
  transition:all .5s ease;
}
.contactusdiyou .hoverbtn{
  width:30px;
  height:129px;
  padding-top:20px;
  cursor: pointer;
  position:absolute;
  top:50%;
  margin-top:-66px;
  left:-30px;
  font-size:14px;
  color:#fff;
  background:#009aff;
  -webkit-border-radius: 3px 0px  0px 3px;
  -moz-border-radius: 3px 0px  0px 3px;
  -o-border-radius: 3px 0px  0px 3px;
  border-radius: 3px 0px  0px 3px;
  -moz-box-shadow: -4px 4px 4px -4px #000;
  -webkit-box-shadow: -4px 4px 4px -4px #000;
  box-shadow: -4px 4px 4px -4px #000;
}
.contactusdiyou .hoverbtn span{
  width:30px;
  height:19px;
  line-height: 19px;
  text-align: center;
  overflow:hidden;
  float:left;
}
</style>

<script type="text/javascript">
$(function() {
  $(".contactusdiyou").click(function() {
    if ($(".contactusdiyou").attr("is_show") == 0) {
      $(".contactusdiyou").attr("is_show","1");
      $('.diyoumask').fadeIn();
      $('.contactusdiyou').animate({right:'0'},300);
    }else{
      $(".contactusdiyou").attr("is_show","0");
      $('.contactusdiyou').animate({right:'-230px'},300,function(){});
      $('.diyoumask').fadeOut();
    }
  });
});
</script>

<script type="text/javascript">
  $(document).keydown(function(event){
    console.log(event.keyCode);
    if (event.keyCode == 113 && $(".contactusdiyou").attr("is_show") == 0) {
      $(".contactusdiyou").attr("is_show","1");
      $('.diyoumask').fadeIn();
      $('.contactusdiyou').animate({right:'0'},300);
    }else{
      $(".contactusdiyou").attr("is_show","0");
      $('.contactusdiyou').animate({right:'-230px'},300,function(){});
      $('.diyoumask').fadeOut();
    }
  });
</script>



  </body>
</html>
