<!DOCTYPE html>
<html>
  <%= render 'shared/page_head' %>
  <body>
    <%= render 'shared/flash_messages_top' %>

    <div class="login">

      <div class="clearfix"></div>

      <div class="container" style="margin-top: 100px;">
        <div class="col-md-3 col-center-block login-box">
	       <div class="logo">
            <h1>IT设备管理</h1>
           </div>

          <h6></h6>

          <!-- 标签 -->
          <ul class="tab">
            <%= content_tag :li, link_to("LDAP", "#"), class: "ldap" %>
            <%= content_tag :li, link_to("登录", "#", class: 'under-line'), class: "signin" %>
            <%= content_tag :li, link_to("注册", "#"), class: "signup" %>
          </ul>

          <!-- 注册表单 -->
	        <div id="signup-box" <%= show_or_hidden_login_div 'signup', yield(:login) %> >
            <div class="login-body">
              <!-- 注册表单 -->
              <%= simple_form_for @user, url: signup_path, remote: true do |f| %>
              <div class="form-error-container">
                <%= render "shared/form_error_messages", object: f.object %>
              </div>
              <div class="form-group form-group-icon">
                <%= f.input_field :username, placeholder: "用户名", class: "form-input name" %>
                <span class="glyphicon glyphicon-user icon"></span>
              </div>
              <div class="form-group form-group-icon">
                <%= f.email_field :email, placeholder: "邮箱", class: "form-input email" %>
                <span class="glyphicon glyphicon-envelope icon"></span>
              </div>
              <div class="form-group form-group-icon">
                <%= f.password_field :password, placeholder: "密码", class: "form-input password" %>
                <span class="glyphicon glyphicon-lock icon"></span>
              </div>
              <div class="form-group form-group-icon">
                <%= f.password_field :password_confirmation, placeholder: "确认密码", class: "form-input password" %>
                <span class="glyphicon glyphicon-lock icon"></span>
              </div>
              <div class="form-group">
                <%= f.button :submit, "注册", class: "btn btn-primary btn-block submit", id: "signup" %>
              </div>
              <% end %>
            </div>
          </div>

          <!-- 登录表单 -->
	        <div id="signin-box" <%= show_or_hidden_login_div 'signin', yield(:login) %> >
            <div class="login-body">
                <!-- 登录表单 -->
                <%= form_for :session, url: signin_path do |f| %>
                <div class="form-error-container">
                  <%= render "shared/form_error_messages", object: @user %>
                </div>
                <div class="form-group form-group-icon">
                  <%= f.text_field :email, placeholder: "邮箱", class: "form-input email" %>
                  <span class="glyphicon glyphicon-envelope icon"></span>
                </div>
                <div class="form-group form-group-icon">
                  <%= f.password_field :password, placeholder: "密码", class: "form-input password" %>
                  <span class="glyphicon glyphicon-lock icon"></span>
                </div>
                <div class="form-group">
                  <%= f.submit  "登录", class: "btn btn-primary btn-block submit", id: "signin" %>
                </div>
                <div class="login-setting">
                  <div class="checkbox">
                    <input name="user_form" type="hidden" value="1">
                    <span class="remember-me"><%#= f.input_field :remember_me, as: :boolean, boolean_style: :inline %>记住密码</span>
                  </div>
                  <%= link_to "忘记密码", "accounts_passwords_forgot_path", class: "forget-me" %>
                </div>
                <% end %>
            </div>
          </div>




          <!-- ldap登录表单 -->
          <div id="ldap-box" <%= show_or_hidden_login_div 'ldap', yield(:login) %> >
            <div class="login-body">
                <!-- ldap登录表单 -->
                <form method="post" action="/auth/ldap/callback" data-remote="true">
                <%= form_for :session, url: "/auth/ldap/callback" do |f| %>
                  <div class="form-error-container">
                    <%= render "shared/form_error_messages", object: @user %>
                  </div>
                  <div class="form-group form-group-icon">
                    <input type="text" id="username" name="username" placeholder="电脑登录用户名简写:clliu" class="form-input email">
                    <span class="glyphicon glyphicon-envelope icon"></span>
                  </div>
                  <div class="form-group form-group-icon">
                    <input type="password" id="password" name="password" placeholder="电脑登录密码" class="form-input password">
                    <span class="glyphicon glyphicon-lock icon"></span>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-primary btn-block submit" name="commit" type="submit" value="LDAP登录">
                  </div>
                  <div class="login-setting">
                    <div class="checkbox">
                      <span class="remember-me"><input name="session[remember_me]" type="hidden" value="0"><input class="boolean optional" type="checkbox" value="1" name="session[remember_me]" id="session_remember_me">记住密码</span>
                    </div>
                    <a class="forget-me" href="accounts_passwords_forgot_path">忘记密码</a>
                  </div>
              <% end %>
            </div>
          </div>


        </div>



      </div>
    </div>

    <%- debug(params) if Rails.env.development? %>
    <%= javascript_include_tag 'login' %>
  </body>
</html>
